.idea/
/bitrix/admin/
/bitrix/modules/
/bitrix/components/
testroute_11/
testsearch/
testsearch2/
export/
test.php
testhl.php
ajax.php
/bitrix/


sitemap*.xml
yandex*.html
google*.html
robots.txt
web.config
dump.html
.htaccess
.htpasswd
*.wmv
*.gz
*.tar
*.sql

# core
/bitrix
/upload