@media only screen and (max-width: 1359px)
{
    .body_green .main-header-form-search input
    {
        border-right: none;
    }

    .body_green .banner .tab_list
    {
        width: calc(100% + 2px);
        margin-left: -1px;
    }

    .body_green .main-header-link1
    {
        border-right-color: #a9dd38;
    }
}

@media only screen and (max-width: 1000px)
{
    .body_green .achievement-item
    {
        margin-right: 0;
    }
}

@media only screen and (max-width: 700px) {
    .body_green .main-header-nav-link-wrap2 a:after{
        background-image: url("../img/main-header-link-item-4Green.svg");
    }
}

@media only screen and (max-width: 479px)
{
    .body_green .main-header-nav-link-wrap4{
        border-top-color: #a9dd38;
    }
}