@media print {
    .main-header-container,
    .fixed-header,
    .breadcrumbs-wrap,
    .clinic-title-btn,
    .clinic-map-info-title,
    .clinic-doctors,
    .clinic-reviews,
    .clinic-text2,
    .clinic-photo-slider-wrap,
    .clinic-photo,
    .clinic-tour,
    .clinic-administration,
    .map,
    .main-footer,
    .clinic-map-info-btn-wrap,
    .clinic-tab_list,
    #panel {
        display: none;
    }

    .clinic-map-info {
        position: initial;
        page-break-after: always;
    }
    .clinic-map-wrap {
        height: initial;
    }

    .clinic-text1 .block_content {
        display: block!important;
        margin-bottom: 10px;
    }

    .htg-print {
        display: block;
    }
}