@media only screen and (max-width: 1359px)
{
    .body_white .main-header-form-search input
    {
        border-right: none;
    }

    .banner .tab_list
    {
        width: calc(100% + 2px);
        margin-left: -1px;
    }

    .body_white .main-header-link1
    {
        border-right-color: #000;
    }


    .actionImg > img{
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: none;
    }
}


@media only screen and (max-width: 1000px)
{
    .body_white .achievement-item
    {
        margin-right: 0;
    }
}

@media only screen and (max-width: 700px) {
    .body_white .main-header-nav-link-wrap2 a:after{
        background-image: url("../img/main-header-link-item-4Black.svg");
    }
}
