.green_tablet.body_green .main-header-form-search input
{
    border-right: none;
}

.green_tablet.body_green .banner .tab_list
{
    width: calc(100% + 2px);
    margin-left: -1px;
}

.green_tablet.body_green .main-header-link1
{
    border-right-color: #a9dd38;
}


.green_tablet.body_green .achievement-item
{
    margin-right: 0;
}