.media_tablet .container{
    max-width: 1023px;
    padding: 0 15px;
}

.media_tablet header .container{
    padding: 0;
}

.media_tablet .banner{
    max-width: 1023px;
}

.media_tablet .fixed-header-wrap1{
    max-width: 1023px;

    margin: 0 auto;
}

.media_tablet .submenu-container li
{
    width: 32%;
}

.media_tablet .videos-filter-select-wrap
{
    max-width: 500px;
}

.media_tablet .information-item
{
    width: 48%;
}

.media_tablet .information-item-11,
.media_tablet .information-item-12,
.media_tablet .information-item-13,
.media_tablet .information-item-14,
.media_tablet .information-item-15
{
    display: none;
}

.media_tablet .service1-tab-list a
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 50px;
    padding: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.media_tablet .administration-item
{
    width: 24.5%;
    margin-top: 10px;
}

.media_tablet .administration-list
{
    margin-top: -10px;
}

.media_tablet .programs-item
{
    width: 48%;
}

.media_tablet .program-list
{
    margin-top: -36px;
}

.media_tablet .program-item
{
    width: 48%;
    margin-top: 36px;
}

.media_tablet .program-item-4
{
    display: block;
}

.media_tablet .stock-item
{
    width: 31%;
}

.media_tablet .certificates-item
{
    max-width: 460px;
}

.media_tablet .certificates-item-9,
.media_tablet .certificates-item-10,
.media_tablet .certificates-item-11,
.media_tablet .certificates-item-12
{
    display: none;
}

.media_tablet .videos-filter-select-wrap
{
    width: 48%;
    max-width: none;
}

.media_tablet .videos-filter-radio-wrap
{
    margin-top: 20px;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.media_tablet .stock-select-wrap
{
    width: 100%;
    max-width: 490px;
}

.media_tablet .health-informations-list .publications-item
{
    width: 48%;
}

.media_tablet .health-informations-list .publications-item:nth-child(6),
.media_tablet .health-informations-list .publications-item:nth-child(5)
{
    display: none;
}

.media_tablet .service1-results-text
{
    width: 100%;
    margin-top: 40px;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.media_tablet .service1-results-img
{
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .contact1-item3
{
    width: 32%;
    margin-top: 23px;
}

.media_tablet .contact1-list3
{
    max-height: 1060px;
    margin-top: -23px;
}

.media_tablet .administration-item
{
    width: 32.8%;
}

.media_tablet .administration-item-13,
.media_tablet .administration-item-14,
.media_tablet .administration-item-15,
.media_tablet .administration-item-16
{
    display: none;
}

.media_tablet .rules-wrap2 .text1
{
    display: none;
}

.media_tablet .rules-wrap2 .text2
{
    display: block;
}

.media_tablet .rules-img3
{
    max-width: 368px;
}

.media_tablet .rules-text-cotaniner2
{
    padding: 40px;
    padding-right: 0;
}

.media_tablet .rules-text3
{
    width: calc(100% - 400px);
}

.media_tablet .videoPoster:after
{
    background-size: 200px;
}

.media_tablet .service1-reception-text
{
    width: 100%;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.media_tablet .service1-reception-img
{
    max-width: none;
    margin-bottom: 40px;
}

.media_tablet .service1-reception-img img
{
    width: 100%;
    height: auto;
}

.media_tablet .health-problem
{
    max-width: 400px;
}

.media_tablet .health-problem-list
{
    padding: 40px 25px;
}

.media_tablet .health-question
{
    width: calc(100% - 440px);
}

.media_tablet .vacancy-select-wrap
{
    max-width: none;
}

.media_tablet .banner-tab-slider
{
    padding: 20px;
}

.media_tablet .banner-wrap1
{
    padding-bottom: 20px;
}

.media_tablet .banner-item
{
    padding: 20px;
}

.media_tablet .banner-info h2
{
    font-size: 22px;
}

.media_tablet .banner-wrap1 .swiper-button-prev-style1,
.media_tablet .swiper-container-rtl .swiper-button-next-style1
{
    left: 20px;
}

.media_tablet .banner-wrap1 .swiper-button-next-style1,
.media_tablet .swiper-container-rtl .swiper-button-prev-style1
{
    left: 55px;
}

.media_tablet .main-footer-social-wrap
{
    max-width: none;
    margin-top: 15px;
}

.media_tablet .main-footer-social
{
    margin-left: auto;
}

.media_tablet .costsection-item-2
{
    padding-right: 0;
}

.media_tablet .publications-item-text p span
{
    display: none;
}

.media_tablet .publications-item-text h3 span
{
    display: none;
}

.media_tablet .service1-wrap1
{
    width: calc(100% - 390px);
}

.media_tablet .reviews-select-wrap
{
    width: 48%;
}

.media_tablet .reviews-input-wrap
{
    width: 100%;
    margin-top: 18px;
}

.media_tablet .jobs-list li
{
    width: 48%;
    padding-right: 0;
}

.media_tablet .jobs-list li:last-child
{
    margin-right: 0;
}

.media_tablet .vacancy-form
{
    padding: 50px;
}

.media_tablet .vacancy-form .label
{
    max-width: none;
}

.media_tablet .clinics-item
{
    width: 32%;
}

.media_tablet .clinics-filter
{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.media_tablet .clinics-filter-radio-wrap
{
    margin-right: 0;
}

.media_tablet .clinics-filter-select-wrap
{
    width: calc(100% - 603px);
    max-width: none;
}

.media_tablet .doctors-item
{
    width: 30%;
}

.media_tablet .doctors-item-10,
.media_tablet .doctors-item-11,
.media_tablet .doctors-item-12,
.media_tablet .doctors-item-13,
.media_tablet .doctors-item-14,
.media_tablet .doctors-item-15
{
    display: none;
}

.media_tablet .doctor-info-text-wrap3 p,
.media_tablet .doctor-info-text-wrap4 p
{
    font-size: 18px;
    line-height: 28px;
}

.media_tablet .rules-info-link-item
{
    width: 100%;
}

.media_tablet .corporate-item
{
    width: 30%;
}

.media_tablet .creditFeedback-form
{
    padding: 30px 47px;
}

.media_tablet .creditFeedback-form .label
{
    max-width: 600px;
}

.media_tablet .creditFeedback-form-wrap
{
    max-width: 600px;
}

.media_tablet .clinic-photo-container2
{
    max-width: 185px;
}

.media_tablet .clinic-photo-container1
{
    width: calc(100% - 200px);
}

.media_tablet .clinic-photo-wrap1-hidden
{
    display: block;
}

.media_tablet .publication-info-wrap1 .publication-img
{
    max-width: 456px;
}

.media_tablet .publication-info-wrap3 .publication-img
{
    max-width: 469px;
}

.media_tablet .publication-info-wrap6 .publication-img
{
    max-width: 419px;
}

.media_tablet .company-img1
{
    max-width: 380px;
}

.media_tablet .company-text1
{
    width: calc(100% - 429px);
}

.media_tablet .company-img2
{
    margin-right: 0;
    margin-left: 49px;
}

.media_tablet .stock-item
{
    width: 48%;
}

.media_tablet .stock-item-9,
.media_tablet .stock-item-10,
.media_tablet .stock-item-11,
.media_tablet .stock-item-12
{
    display: none;
}

.media_tablet .stock-select-wrap1
{
    width: calc(100% - 300px);
    max-width: none;
}

.media_tablet .stock-select-wrap2
{
    max-width: none;
    margin-top: 20px;
}

.media_tablet .clinic-map-wrap
{
    height: 689px;
}

.media_tablet .clinic-map-info
{
    top: auto;

    max-width: none;
    padding: 10px;
}

.media_tablet .doctor-info-text-wrap2 b
{
    font-size: 24px;

    margin-right: 10px;
}

.media_tablet .doctor-info-text-wrap2 span
{
    font-size: 24px;

    margin-right: 10px;
}

.media_tablet .services1-item
{
    width: 30%;
    margin-top: 50px;
}

.media_tablet .services1-list
{
    margin-top: -50px;
}

.media_tablet .main-footer-list1 a span
{
    display: none;
}

.media_tablet .costsection-select-wrap
{
    max-width: 221px;
    margin-right: 0;
}

.media_tablet .costsection-search-wrap
{
    width: calc(100% - 600px);
}

.media_tablet .housecall-form-wrap1
{
    padding: 40px;
}

.media_tablet .videos-item
{
    width: 32%;
}

.media_tablet .videos-item-17
{
    display: block;
}

.media_tablet .videos-item-18
{
    display: block;
}

.media_tablet .solutions-info
{
    width: calc(100% - 350px);
}

.media_tablet .service1-wrap2 .service1-action-slider1
{
    display: none;
}
.media_tablet .main-header-list a
{
    padding: 17.5px 5px;
}

.media_tablet .main-header-wrap2
{
    padding: 32px 2.5%;
}

.media_tablet .banner-wrap1
{
    max-width: none;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.media_tablet .banner-list
{
    max-width: none;
}

.media_tablet .banner-wrap2
{
    width: 100%;
}

.media_tablet .banner-item
{
    padding: 60px 20px;
}

.media_tablet .main-footer-list-wrap
{
    width: 30%;
    max-width: none;

    text-align: center;
}

.media_tablet .main-footer-list-wrap1
{
    -webkit-box-ordinal-group: -2;
    -ms-flex-order: -3;
    order: -3;
}

.media_tablet .main-footer-list-wrap1 .main-footer-list
{
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .main-footer-list-wrap2
{
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
}

.media_tablet .main-footer-list-wrap2 .main-footer-list
{
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .main-footer-list1
{
    width: 30%;

    text-align: center;

    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.media_tablet .main-footer-list-wrap3
{
    width: 100%;
    margin: 35px 0;
}

.media_tablet .main-footer-list-wrap3 .main-footer-list
{
    width: 48%;
    max-width: none;
}

.media_tablet .main-footer-list1 li
{
    margin-bottom: 10px;
}

.media_tablet .main-footer-social
{
    max-width: none;

    text-align: center;
}

.media_tablet .main-footer-social-wrap
{
    width: 48%;
    margin-top: 0;
}

.media_tablet .main-footer-social-list
{
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .main-footer-contacts
{
    width: 48%;
    max-width: none;

    text-align: center;
}

.media_tablet .main-footer-contacts .btn1
{
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .contact1-wrap2
{
    width: 100%;
}

.media_tablet .menu-btn
{
    display: block;
}

.media_tablet .contact1-container
{
    position: relative;
}

.media_tablet .section-wrap1
{
    position: absolute;
    z-index: 19;
    top: 43px;
    left: -320px;

    max-width: 280px;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;

    -webkit-transition: left .3s;
            transition: left .3s;

    background-color: #fff;
    -webkit-box-shadow: 0 -5px 20px rgba(0, 0, 0, .05);
            box-shadow: 0 -5px 20px rgba(0, 0, 0, .05);
}

.media_tablet .section-wrap1.active
{
    left: -30px;
}

.media_tablet .contact1-title1 a
{
    display: none;
}

.media_tablet .contact1-title1
{
    padding-left: 60px;
}

.media_tablet .contact1-text
{
    max-width: none;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.media_tablet .contact1-map-wrap
{
    width: 100%;
    margin-bottom: 15px;
}

.media_tablet .contact1-map-wrap .link
{
    display: inline-block;
}

.media_tablet .contact1-list2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: -20px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.media_tablet .contact1-list2 li
{
    width: 48%;
    margin-top: 20px;
    margin-bottom: 0;
}

.media_tablet .rules-wrap2
{
    width: 100%;
}

.media_tablet .rules-wrap2 h1
{
    padding-left: 60px;
}

.media_tablet .rules-wrap2 .text-btn
{
    display: block;
}

.media_tablet .rules-text1
{
    width: 100%;
}

.media_tablet .rules-img1
{
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

.media_tablet .rules-text-cotaniner1
{
    margin-bottom: 40px;
}

.media_tablet .rules-text-wrap1
{
    margin-bottom: 40px;
}

.media_tablet .rules-wrap2 .text2
{
    margin-top: 40px;
}

.media_tablet .rules-container-btn
{
    overflow: hidden;

    max-height: 400px;
    margin-bottom: 0;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .rules-container-btn.active
{
    max-height: 8000px;
    padding-bottom: 130px;
}

.media_tablet .rules-text-cotaniner2
{
    overflow: hidden;

    max-height: 650px;
    margin-bottom: 20px;
    padding: 50px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .rules-text-cotaniner2.active
{
    max-height: 8000px;
    padding-bottom: 170px;
}

.media_tablet .rules-text2
{
    width: 100%;
    margin-bottom: 40px;
}

.media_tablet .rules-img2
{
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .rules-text3
{
    width: 100%;
}

.media_tablet .rules-img3
{
    max-width: 573px;
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .rules-text-list1
{
    display: none;
}

.media_tablet .rules-text-list12
{
    display: block;
}

.media_tablet .rules-img3
{
    margin-bottom: 40px;
}

.media_tablet .rules-text-img4
{
    margin-top: 40px;
}

.media_tablet .rules
{
    padding-bottom: 80px;
}

.media_tablet .service1-wrap1
{
    width: 100%;
    padding-right: 0;
}

.media_tablet .service1-action
{
    display: none;
}

.media_tablet .service1-action1
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.media_tablet .service1-action-img
{
    width: 100%;
    max-width: 315px;
    margin-bottom: 0;
}

.media_tablet .service1-action-text
{
    width: calc(100% - 334px);
    padding: 10px;
    padding-top: 50px;
}

.media_tablet .service1-feedback
{
    display: none;
}

.media_tablet .service1-btn-block-wrap
{
    position: relative;

    overflow: hidden;

    max-height: 650px;
    margin-bottom: 20px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .service1-btn-block-wrap.active
{
    max-height: 8000px;
    padding-bottom: 130px;
}

.media_tablet .service1-btn-block-wrap .text-btn
{
    display: block;
}

.media_tablet .service1-reception
{
    position: relative;

    overflow: hidden;

    max-height: 650px;
    margin-bottom: 20px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .service1-reception.active
{
    max-height: 8000px;
    padding-bottom: 150px;
}

.media_tablet .service1-reception .text-btn
{
    display: block;
}

.media_tablet .service1-wrap2
{
    max-width: none;
}

.media_tablet .service1-nav
{
    display: none;
}

.media_tablet .service1-info
{
    display: none;
}

.media_tablet .service1-doctors-img
{
    text-align: left;
}

.media_tablet .cost1-list span
{
    margin-right: 0;
}

.media_tablet .service1
{
    padding-bottom: 40px;
}

.media_tablet .cost1
{
    margin-bottom: 0;
}

.media_tablet .contact1
{
    padding-bottom: 80px;
}

.media_tablet .service1-action-slider
{
    display: none;
}

.media_tablet .service1-action-slider1
{
    display: block;
}

.media_tablet .service1-action-timer-wrap
{
    position: absolute;
    top: 10px;
    left: 343px;

    margin: 0;
    padding: 0;
}

.media_tablet .service1-action-slider .service1-action-text
{
    padding-top: 60px;
}

.media_tablet .service1-doctors-services-style .service1-doctors-link-wrap
{
    text-align: right;
}

.media_tablet .costsection-item-1
{
    width: 48%;
    max-width: none;
}

.media_tablet .costsection-item-2
{
    width: 48%;
}

.media_tablet .costsection-item-2 .costsection-list2
{
    width: 100%;
}

.media_tablet .costsection-search-wrap
{
    width: 100%;
    margin-top: 15px;
}

.media_tablet .costsection-select-wrap
{
    width: calc(100% - 400px);
    max-width: none;
}

.media_tablet .costsection
{
    padding-bottom: 80px;
}

.media_tablet .publications
{
    padding-bottom: 80px;
}

.media_tablet .publication
{
    padding-bottom: 80px;
}

.media_tablet .publications-title
{
    padding-left: 60px;
}

.media_tablet .publications-wrap2
{
    width: 100%;
}

.media_tablet .publication h1
{
    padding-left: 60px;
}

.media_tablet .publication-wrap2
{
    width: 100%;
}

.media_tablet .publication-info-wrap1 .publication-img
{
    max-width: 228px;
}

.media_tablet .publication-info-wrap3 .publication-img
{
    max-width: 302px;
}

.media_tablet .publication-info-wrap6 .publication-img
{
    max-width: 345px;
}

.media_tablet .publications-item-text p span
{
    display: inline;
}

.media_tablet .publications-item-text h3 span
{
    display: inline;
}

.media_tablet .administration
{
    padding-bottom: 80px;
}

.media_tablet .administration h1
{
    padding-left: 60px;
}

.media_tablet .administration-wrap2
{
    width: 100%;
}

.media_tablet .housecall
{
    padding-bottom: 80px;
}

.media_tablet .housecall h1
{
    padding-left: 60px;
}

.media_tablet .housecall-wrap2
{
    width: 100%;
}

.media_tablet .corporate
{
    padding-bottom: 80px;
}

.media_tablet .corporate h1
{
    padding-left: 60px;
}

.media_tablet .corporate-wrap2
{
    width: 100%;
}

.media_tablet .partnership
{
    padding-bottom: 80px;
}

.media_tablet .partnership h1
{
    padding-left: 60px;
}

.media_tablet .partnership-wrap2
{
    width: 100%;
}

.media_tablet .rights
{
    padding-bottom: 80px;
}

.media_tablet .rights h1
{
    padding-left: 60px;
}

.media_tablet .rights-wrap2
{
    width: 100%;
}

.media_tablet .rights .rules-text-cotaniner2
{
    max-height: inherit;
    margin-bottom: 0;
    padding: 50px;
}

.media_tablet .rights-text-btn-wrap
{
    position: relative;

    overflow: hidden;

    max-height: 400px;
    margin-bottom: 20px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .rights-text-btn-wrap.active
{
    max-height: 8000px;
    padding-bottom: 150px;
}

.media_tablet .rights-text-btn-wrap .text-btn
{
    display: block;
}

.media_tablet .agreement
{
    padding-bottom: 80px;
}

.media_tablet .agreement h1
{
    padding-left: 60px;
}

.media_tablet .agreement-wrap2
{
    width: 100%;
}

.media_tablet .company
{
    padding-bottom: 80px;
}

.media_tablet .company h1
{
    padding-left: 60px;
}

.media_tablet .company-wrap2
{
    width: 100%;
}

.media_tablet .social
{
    padding-bottom: 80px;
}

.media_tablet .social h1
{
    padding-left: 60px;
}

.media_tablet .social-wrap2
{
    width: 100%;
}

.media_tablet .social-list
{
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.media_tablet .social-text
{
    margin-top: 30px;
    margin-bottom: 0;
}

.media_tablet .reviews
{
    padding-bottom: 80px;
}

.media_tablet .reviews h1
{
    padding-left: 60px;
}

.media_tablet .reviews-wrap2
{
    width: 100%;
}

.media_tablet .jobs-wrap2
{
    width: 100%;
}

.media_tablet .jobs
{
    padding-bottom: 80px;
}

.media_tablet .jobs h1
{
    padding-left: 60px;
}

.media_tablet .vacancy
{
    padding-bottom: 80px;
}

.media_tablet .vacancy h1
{
    padding-left: 60px;
}

.media_tablet .vacancy-wrap2
{
    width: 100%;
}

.media_tablet .programs
{
    padding-bottom: 80px;
}

.media_tablet .programs h1
{
    padding-left: 60px;
}

.media_tablet .programs-wrap2
{
    width: 100%;
}

.media_tablet .creditFeedback
{
    padding-bottom: 80px;
}

.media_tablet .creditFeedback h1
{
    padding-left: 60px;
}

.media_tablet .creditFeedback-wrap2
{
    width: 100%;
}

.media_tablet .section-wrap1-banner
{
    display: none;
}

.media_tablet .clinics
{
    padding-bottom: 80px;
}

.media_tablet .credit
{
    padding-bottom: 80px;
}

.media_tablet .credit h1
{
    padding-left: 60px;
}

.media_tablet .credit-wrap2
{
    width: 100%;
}

.media_tablet .program
{
    padding-bottom: 80px;
}

.media_tablet .program-wrap2
{
    width: 100%;
    padding-right: 0;
}

.media_tablet .program-wrap1
{
    display: none;
}

.media_tablet .videos
{
    padding-bottom: 80px;
}

.media_tablet .information h1
{
    padding-left: 60px;
}

.media_tablet .information
{
    padding-bottom: 80px;
}

.media_tablet .information-wrap2
{
    width: 100%;
}

.media_tablet .search
{
    padding-bottom: 80px;
}

.media_tablet .certificates h1
{
    padding-left: 60px;
}

.media_tablet .certificates
{
    padding-bottom: 80px;
}

.media_tablet .certificates-wrap2
{
    width: 100%;
}

.media_tablet .questions-title .btn3
{
    display: none;
}

.media_tablet .questions
{
    padding-bottom: 80px;
}

.media_tablet .questions-title
{
    padding-left: 60px;
}

.media_tablet .questions-wrap2
{
    width: 100%;
}

.media_tablet .main-header-wrap3 .main-header-form-search
{
    display: block;

    width: calc(100% - 148px);
}

.media_tablet .main-header-nav
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    display: none;

    padding: 20px;
    padding-bottom: 30px;
    /*background-color: #0a9beb;*/

    background-color: #f3fafe;
    -webkit-box-shadow: 0 5px 8px -5px rgba(0, 0, 0, .38);
            box-shadow: 0 5px 8px -5px rgba(0, 0, 0, .38);
}
.media_tablet .main-header-list a
{
    color: #364e5b;

    background-color: #f3fafe;
}
.media_tablet .main-header-list a:hover
{
    color: #0a9beb!important;

    background-color: rgba(0,0,0,0)!important;;;
}

.media_tablet .main-header-form-search input
{
    height: 50px;
}

.media_tablet .main-header-wrap3
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #0a9beb;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.media_tablet .main-header-menuToggle
{
    display: block;
}

.media_tablet .main-header-list li
{
    width: 48%;

    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.media_tablet .main-header-list a
{
    display: inline-block;

    padding: 14px 0;
}

.media_tablet .main-header-wrap1 .main-header-form-search
{
    display: none;
}

.media_tablet .main-header-link-wrap
{
    width: 83%;
    max-width: none;
}

.media_tablet .main-header-link1
{
    width: 17%;

    border-right: 1px solid #fff;
}

.media_tablet .main-header-link1 b
{
    display: block;

    padding: 12px 5px;
    padding-right: 25px;

    text-align: center;
}

.media_tablet .main-header-link1 b:after
{
    right: 10px;
}

.media_tablet .faq-wrap2
{
    width: 100%;
}

.media_tablet .faq
{
    padding-bottom: 80px;
}

.media_tablet .faq h1
{
    padding-left: 60px;
}

.media_tablet .programs-body .programs-wrap1
{
    display: none;
}

.media_tablet .programs-body .programs-wrap2
{
    width: 100%;
    padding-right: 0;
}

.media_tablet .programs-body .programs h1
{
    padding-left: 0;
}

.media_tablet .disease-body .service1-reception
{
    max-height: inherit;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.media_tablet .directory
{
    padding-bottom: 80px;
}

.media_tablet .health-question
{
    width: 100%;
    margin-bottom: 40px;
}

.media_tablet .health-problem
{
    max-width: none;
}

.media_tablet .health-problem-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: -8px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.media_tablet .health-problem-list li
{
    width: 30%;
    margin-top: 8px;
    margin-bottom: 0;
}

.media_tablet .health
{
    padding-bottom: 80px;
}

.media_tablet .action
{
    padding-bottom: 80px;
}

.media_tablet .action-info-img
{
    float: none;

    width: 100%;
    max-width: 749px;
    min-height: inherit;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    background: none;
}

.media_tablet .action-info-img img
{
    display: inline-block;
}

.media_tablet .action-info-text
{
    width: 100%;
}

.media_tablet .action-paragraph1
{
    display: none;
}

.media_tablet .action-info-time
{
    display: none;
}

.media_tablet .action-info-time1
{
    display: flex;

    justify-content: space-between;
}

.media_tablet .action-info-time b
{
    margin-right: 0;
}

.media_tablet .doctor h1
{
    padding-left: 60px;
}

.media_tablet .doctor
{
    padding-bottom: 80px;
}

.media_tablet .doctor-wrap2
{
    width: 100%;
}


.media_tablet .submenu-container
{
    display: none;
}

.media_tablet .action-info-wrap
{
    max-height: 800px;
}

.media_tablet .action-info-wrap .text-btn
{
    width: 100%;
}

.media_tablet .action-info-wrap.active .action-info-img
{
    margin-bottom: 30px;
}

.media_tablet .search-form p
{
    width: 100%;
    margin-top: 19px;

    text-align: right;
}

.media_tablet .search-input-wrap
{
    max-width: none;
}

.media_tablet .service1-results-img-container
{
    width: 48%;
    max-width: none;
}

.media_tablet .publications .section-wrap1
{
    max-width: 280px;
}

.media_tablet .clinic-photo-container1
{
    width: 100%;
    margin-bottom: 10px;
}

.media_tablet .clinic-photo-container2
{
        flex-direction: row;

    max-width: none;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.media_tablet .clinic-photo-wrap
{
    width: 24%;
}

.media_tablet .main-footer-certificates-item
{
    width: 31%;
}

.media_tablet .main-footer-versions-list
{
    display: none;
}

.media_tablet .main-footer-wrap4 .main-footer-versions-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    max-width: 350px;
}

.media_tablet .main-footer-versions-item-1
{
    display: none;
}

.media_tablet .main-footer-versions-item-2
{
    display: block;
}

.media_tablet .main-footer-versions-item-3
{
    display: block;
}

.media_tablet .main-footer-list2
{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.media_tablet .fixed-header-list li
{
    width: 48%;

    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.media_tablet .fixed-header-list a
{
    display: inline-block;

    padding: 14px 0;
}

.media_tablet .fixed-header-list
{
    padding: 20px;

    background-color: #f3fafe;
    -webkit-box-shadow: 0 5px 8px -5px rgba(0, 0, 0, .38);
            box-shadow: 0 5px 8px -5px rgba(0, 0, 0, .38);
}
.media_tablet .fixed-header-list a
{
    color: #364e5b;
}
.media_tablet .doctors-filter-select-wrap
{
    width: 100%;
    margin-bottom: 26px;
}

.media_tablet .doctors-filter-input-wrap
{
    width: 100%;
}

.media_tablet .directory-slider .directory-list:nth-child(3)
{
    display: none;
}

.media_tablet .directory-slider .directory-list
{
    width: 48%;
}

#directory-tab2 .directory-list
{
    width: 48%;
}

#directory-tab2 .directory-list:nth-child(3)
{
    display: none;
}

.media_tablet .health-list
{
    width: 48%;
}

.media_tablet .health-list:nth-child(3)
{
    display: none;
}

.media_tablet .doctor-specialization-list li
{
    width: 48%;
}

.media_tablet .health-btn-wrap .btn2
{
    display: inline-block;
}

.media_tablet .health-btn-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.media_tablet .publications-item
{
    width: 100%;
}

.media_tablet .publications-item-9,
.media_tablet .publications-item-10,
.media_tablet .publications-item-11,
.media_tablet .publications-item-12
{
    display: none;
}

.media_tablet .reviews-filter
{
    padding: 25px;
}

.media_tablet .reviews-select-wrap
{
    width: 100%;
    margin-bottom: 18px;
}

.media_tablet .reviews-input-wrap
{
    margin-top: 0;
}

.media_tablet .reviews-item
{
    width: 100%;
}

.media_tablet .reviews-item-7,
.media_tablet .reviews-item-8,
.media_tablet .reviews-item-9,
.media_tablet .reviews-item-10,
.media_tablet .reviews-item-11,
.media_tablet .reviews-item-12
{
    display: none;
}

.media_tablet .reviews-wrap-btn1
{
    width: 100%;
    margin-top: 40px;

    text-align: center;

    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.media_tablet .reviews-feedback-form
{
    padding: 35px;
}

.media_tablet .reviews-feedback-form-wrap1
{
    width: 100%;
    margin-bottom: 35px;
}

.media_tablet .reviews-feedback-form-wrap2
{
    width: 100%;
}

.media_tablet .reviews-feedback-checkbox-container
{
    width: 100%;
    max-width: 350px;
}

.media_tablet .reviews .reviews-radio-wrap1 label span span
{
    font-size: 14px;

    display: inline;
}

.media_tablet .reviews .reviews-radio-wrap1 label span
{
    font-size: 0;
}

.media_tablet .reviews .reviews-radio-wrap1 label span i
{
    font-size: 14px;
}

.media_tablet .directory-slider .swiper-pagination
{
    margin-top: -10px;
}

.media_tablet .directory-slider .swiper-pagination .swiper-pagination-bullet
{
    width: 7.1428%;
    margin-top: 10px;
}

.media_tablet .directory-slider .swiper-button-prev-style2,
.media_tablet .directory-slider .swiper-button-next-style2
{
    top: 164px;
}

.media_tablet .health-problem-list li
{
    width: 48%;
}

.media_tablet .information-item
{
    width: 100%;
}

.media_tablet .information-item-text-wrap1
{
    top: auto;

    padding: 14px 5px;

    opacity: 1;
}

.media_tablet .information-item-7,
.media_tablet .information-item-8,
.media_tablet .information-item-9,
.media_tablet .information-item-10
{
    display: none;
}

.media_tablet .popup-videos
{
    width: 97%;
    max-width: none;
}

.media_tablet .clinic-tour .btn5
{
    font-size: 16px;

    padding: 9px 25px;
}

.media_tablet .directory-input-wrap
{
    width: 100%;
    margin-top: 30px;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.media_tablet .directory-filter .tab_list
{
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .doctor-info-text-wrap2 b
{
    display: none;

    margin-right: 0;
}

.media_tablet .doctor-info-text-wrap2 span
{
    display: none;
}

.media_tablet .doctor-info-text-wrap2 h2 b
{
    display: inline;
}

.media_tablet .doctor-info-text-wrap2 .btn3
{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .doctor-info-text
{
    width: 100%;
}

.media_tablet .doctor-info-img
{
    float: none;

    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

.media_tablet .doctor-regalia-wrap1
{
    width: 100%;
    margin-bottom: 25px;
}

.media_tablet .doctor-regalia-wrap2
{
    max-width: none;
}

.media_tablet .doctor-regalia-text-wrap
{
    margin-bottom: 25px;
}

.media_tablet .solutions-slider
{
    display: block;
}

.media_tablet .solutions-info-wrap > .solutions-list
{
    display: none;
}

.media_tablet .solutions-list
{
    width: 100%;
}

.media_tablet .doctor-info-title:after
{
    width: 100%;
}

.media_tablet .doctor-info-text-wrap3 p:after
{
    right: auto;
    left: 0;
}

.media_tablet .doctor-info-text-wrap1
{
    padding-left: 20px;
}

.media_tablet .doctor-info-text-wrap2
{
    padding-left: 20px;
}

.media_tablet .doctor-info
{
    max-height: 1600px;
}

.media_tablet .doctor-info .text-btn
{
    width: 100%;
}

.media_tablet .doctor-info-img
{
    min-height: inherit;

    background: none;
}

.media_tablet .doctor-info-img img
{
    display: inline-block;
}

.media_tablet .publications-title h1
{
    font-size: 22px;
}

.media_tablet .fixed-header-wrap2
{
    display: none;
}

.media_tablet .fixed-header-tel-wrap span
{
    display: none;
}

.media_tablet .fixed-header-menu-toggle
{
    font-size: 0;

    width: 61px;
    height: 40px;
    padding: 0;
}

.media_tablet .fixed-header-feedback a
{
    padding: 12px 5px;
}

.media_tablet .fixed-header-search-form input
{
    padding: 9px 15px;
    padding-left: 58px;
}

.media_tablet .fixed-header-search-form
{
    width: calc(100% - 523px);
}

.media_tablet .fixed-header-menu-toggle:after
{
    left: 50%;

    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
}

.media_tablet .service1-other h3
{
    font-size: 22px;

    padding-right: 80px;
}

.media_tablet .service1-text1 h1
{
    font-size: 22px;
}

.media_tablet .service1-tabs .service1-tab_list a
{
    font-size: 13px;
    line-height: 20px;

    min-height: 60px;
}

.media_tablet .service1-tab-list
{
    width: 48%;
}

.media_tablet .service1-tab-list:nth-child(2)
{
    display: none;
}

.media_tablet .rules-wrap2 h1
{
    font-size: 22px;
}

.media_tablet .contact1-title1 h2
{
    font-size: 22px;

    margin-bottom: 25px;
}

.media_tablet .section-wrap1
{
    top: 38px;
}

.media_tablet .costsection h1
{
    font-size: 22px;
}

.media_tablet .publication h1
{
    font-size: 22px;
}

.media_tablet .administration h1
{
    font-size: 22px;
}

.media_tablet .housecall h1
{
    font-size: 22px;
}

.media_tablet .corporate h1
{
    font-size: 22px;
}

.media_tablet .partnership h1
{
    font-size: 22px;
}

.media_tablet .rights h1
{
    font-size: 22px;
}

.media_tablet .agreement h1
{
    font-size: 22px;
}

.media_tablet .company h1
{
    font-size: 22px;
}

.media_tablet .reviews h1
{
    font-size: 22px;
}

.media_tablet .jobs h1
{
    font-size: 22px;
}

.media_tablet .jobs-list li
{
    width: 100%;
}

.media_tablet .jobs-img1
{
    max-width: none;
    margin-bottom: 20px;

    text-align: center;

    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.media_tablet .jobs-text1
{
    width: 100%;
}

.media_tablet .jobs-text-container1
{
    padding-right: 0;
}

.media_tablet .vacancy h1
{
    font-size: 22px;
}

.media_tablet .programs h1
{
    font-size: 22px;
}

.media_tablet .creditFeedback h1
{
    font-size: 22px;
}

.media_tablet .clinics h1
{
    font-size: 22px;
}

.media_tablet .credit h1
{
    font-size: 22px;
}

.media_tablet .program h1
{
    font-size: 22px;
}

.media_tablet .videos h1
{
    font-size: 22px;
}

.media_tablet .information h1
{
    font-size: 22px;
}

.media_tablet .search h1
{
    font-size: 22px;
}

.media_tablet .certificates h1
{
    font-size: 22px;
}

.media_tablet .questions-title h1
{
    font-size: 22px;
}

.media_tablet .doctors h1
{
    font-size: 22px;
}

.media_tablet .faq h1
{
    font-size: 22px;
}

.media_tablet .stock h1
{
    font-size: 22px;
}

.media_tablet .clinic-title h1
{
    font-size: 22px;
}

.media_tablet .attendance h1
{
    font-size: 22px;
}

.media_tablet .directory h1
{
    font-size: 22px;
}

.media_tablet .health h1
{
    font-size: 22px;
}

.media_tablet .health-subtitle
{
    font-size: 18px;
}

.media_tablet .action h1
{
    font-size: 22px;
}

.media_tablet .doctor h1
{
    font-size: 22px;
}

.media_tablet .health h1
{
    margin-bottom: 25px;
}

.media_tablet .health-subtitle
{
    margin-bottom: 25px;
}

.media_tablet .main-footer-share-wrap span
{
    width: 100%;
    margin-bottom: 15px;
}

.media_tablet .main-footer-share-wrap
{
    max-width: 230px;
}

#map
{
    position: relative;
}

#map:after
{
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 81px;
    left: 40px;

    content: '';
}

#map1
{
    position: relative;
}

#map1:after
{
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 81px;
    left: 40px;

    content: '';
}

.media_tablet .clinic #map:after
{
    display: none;
}

.media_tablet .administration-item-feedback
{
    top: auto;

    height: 55px;
    padding: 5px;

    opacity: 1;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.media_tablet .administration-filter
{
    padding: 25px;
}

.media_tablet .housecall-form .btn2
{
    display: none;
}

.media_tablet .housecall-captcha-wrap .btn2
{
    display: inline-block;
}

.media_tablet .housecall-captcha-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 15px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.media_tablet .housecall-text
{
    position: relative;

    overflow: hidden;

    max-height: 350px;
    margin-bottom: 20px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .housecall-text.active
{
    max-height: 8000px;
    padding-bottom: 150px;
}

.media_tablet .housecall-text .text-btn
{
    display: block;
}

.media_tablet .corporate-item
{
    width: 47%;
}

.media_tablet .corporate-item-text1
{
    top: auto;

    padding: 5px;

    opacity: 1;
}

.media_tablet .corporate-item-7,
.media_tablet .corporate-item-8,
.media_tablet .corporate-item-9,
.media_tablet .corporate-item-10,
.media_tablet .corporate-item-11,
.media_tablet .corporate-item-12
{
    display: none;
}

.media_tablet .partnership-item-1
{
    width: 48%;
}

.media_tablet .partnership-item-2
{
    width: 48.8%;
}

.media_tablet .company-img1
{
    max-width: none;
}

.media_tablet .company-text1
{
    width: 100%;
    margin-top: 15px;
}

.media_tablet .company-img2
{
    float: none;

    width: 100%;
    max-width: 359px;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
}

.media_tablet .social-list
{
    margin-top: -20px;
}

.media_tablet .social-item
{
    width: 100%;
    margin-top: 20px;

    text-align: center;
}

.media_tablet .programs-item
{
    width: 100%;
}

.media_tablet .programs-item-7,
.media_tablet .programs-item-8,
.media_tablet .programs-item-9,
.media_tablet .programs-item-10,
.media_tablet .programs-item-11,
.media_tablet .programs-item-12
{
    display: none;
}

.media_tablet .programs-text2
{
    display: none;
}

.media_tablet .programs-tabs
{
    margin-bottom: 0;
}

.media_tablet .clinics-filter-select-wrap
{
    width: 100%;
    margin-top: 25px;
}

.media_tablet .clinics-filter-radio-wrap
{
    max-width: none;
}

.media_tablet .clinics-item
{
    width: 48%;
}

.media_tablet .clinics-item-9,
.media_tablet .clinics-item-10,
.media_tablet .clinics-item-11,
.media_tablet .clinics-item-12
{
    display: none;
}

.media_tablet .clinics-item-text-wrap1
{
    top: auto;

    padding: 10px;

    opacity: 1;
}

.media_tablet .credit-text1
{
    position: relative;

    overflow: hidden;

    max-height: 350px;
    margin-bottom: 20px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .credit-text1.active
{
    max-height: 8000px;
    padding-bottom: 150px;
}

.media_tablet .credit-text1 .text-btn
{
    display: block;
}

.media_tablet .program-text-container1
{
    position: relative;

    overflow: hidden;

    max-height: 350px;
    margin-bottom: 20px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .program-text-container1.active
{
    max-height: 8000px;
    padding-bottom: 150px;
}

.media_tablet .program-text-container1 .text-btn
{
    display: block;
}

.media_tablet .program-item
{
    width: 100%;
}

.media_tablet .program-item-3
{
    display: none;
}

.media_tablet .program-item-4
{
    display: none;
}

.media_tablet .program .row-1
{
    display: none;
}

.media_tablet .program-table
{
    display: none;
}

.media_tablet .program-list2-wrap
{
    display: block;
}

.media_tablet .videos-filter-select-wrap
{
    width: 100%;
    margin-bottom: 20px;
}

.media_tablet .videos-filter-radio-wrap
{
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .videos-item
{
    width: 48%;
}

.media_tablet .search-list
{
    padding-left: 14px;
}

.media_tablet .certificates-list
{
    width: 100%;
    max-width: 455px;
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .certificates-item-6,
.media_tablet .certificates-item-7,
.media_tablet .certificates-item-8
{
    display: none;
}

.media_tablet .programs-text3
{
    position: relative;

    overflow: hidden;

    max-height: 600px;
    margin-bottom: 20px;
    padding-bottom: 0;

    -webkit-transition: max-height .3s, padding-bottom .3s;
            transition: max-height .3s, padding-bottom .3s;
}

.media_tablet .programs-text3.active
{
    max-height: 8000px;
    padding-bottom: 130px;
}

.media_tablet .programs-text3 .text-btn
{
    display: block;
}

.media_tablet .programs-text3 p
{
    margin-bottom: 30px;
}

.media_tablet .programs-text3 ul li
{
    padding-left: 0;
}

.media_tablet .achievement-item-2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.media_tablet .achievement-item-1
{
    margin-bottom: 15px;
}

.media_tablet .achievement-item-btn-wrap
{
    top: auto;

    padding: 14px 5px;

    opacity: 1;
}

.media_tablet .doctors-item
{
    width: 48%;
}

.media_tablet .doctors-item-text1
{
    top: auto;

    padding: 8px 5px;

    opacity: 1;
}

.media_tablet .doctors-item-9
{
    display: none;
}

.media_tablet .stock-btn
{
    top: auto;

    padding: 10px 5px;

    opacity: 1;
}

.media_tablet .disease-item-hidden
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 15px;
}

.media_tablet .disease-link-wrap
{
    top: auto;

    padding: 14px 5px;

    opacity: 1;
}

.media_tablet .health-informations-list .publications-item
{
    width: 100%;
}

.media_tablet .health-informations-list .publications-item:nth-child(3),
.media_tablet .health-informations-list .publications-item:nth-child(4)
{
    display: none;
}

.media_tablet .main-footer-certificates-item i
{
    top: 0;
    left: 50%;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.media_tablet .main-footer-certificates-item
{
    padding-top: 100px;
    padding-left: 0;

    text-align: center;
}

.media_tablet .contact1-item3
{
    width: 48.7%;
}

.media_tablet .contact1-list3
{
    margin-bottom: 35px;
}

.media_tablet .questions-select-wrap
{
    width: 100%;
    margin-bottom: 20px;
}

.media_tablet .questions-input-wrap
{
    width: 100%;
}

.media_tablet .questions-item-6,
.media_tablet .questions-item-7,
.media_tablet .questions-item-8,
.media_tablet .questions-item-9
{
    display: none;
}

.media_tablet .questions .reviews-radio-wrap1 label span span
{
    font-size: 14px;

    display: inline;
}

.media_tablet .questions .reviews-radio-wrap1 label span
{
    font-size: 0;
}

.media_tablet .questions .reviews-radio-wrap1 label span i
{
    font-size: 14px;
}

.media_tablet .stock-item
{
    width: 100%;
}

.media_tablet .stock-item-6,
.media_tablet .stock-item-7,
.media_tablet .stock-item-8
{
    display: none;
}

.media_tablet .stock-list
{
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.media_tablet .clinic-text1
{
    padding: 20px;
}

.media_tablet .clinic-text1-title h2
{
    width: 100%;
    margin-bottom: 20px;
}

.media_tablet .clinic-tab_list
{
    max-width: none;
}

.media_tablet .main-header-link-item
{
    width: 13%;
}

.media_tablet .main-header-link-item-3
{
    width: 32%;
}

.media_tablet .main-header-link-item-4 a
{
    font-size: 0;

    width: 11px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.media_tablet .main-header-link-item-4 a:after
{
    left: 50%;

    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
}

.media_tablet .main-header-link-wrap
{
    width: 80%;
}

.media_tablet .main-header-link-item-1
{
    width: 20%;
}

.media_tablet .main-header-link-item-2
{
    width: 22%;
}

.media_tablet .main-header-link-item-3
{
    width: 38%;
}

.media_tablet .main-header-link-item-4
{
    width: 10%;
}

.media_tablet .main-header-link-item-5
{
    width: 10%;
}

.media_tablet .main-header-link1
{
    width: 20%;
}

.media_tablet .services1 h2
{
    font-size: 23px;

    margin-bottom: 45px;
}

.media_tablet .services1-item p
{
    font-size: 14px;
}

.media_tablet .publication-info-wrap1 .publication-img
{
    max-width: none;
    margin: 0;
    margin-bottom: 30px;

    text-align: center;

    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.media_tablet .publication-info-wrap1 .publication-img img
{
    width: 100%;
    height: auto;
}

.media_tablet .publication-info-wrap3 .publication-img
{
    max-width: none;
    margin: 0;
    margin-bottom: 30px;

    text-align: center;
}

.media_tablet .publication-info-wrap3 .publication-img img
{
    width: 100%;
    height: auto;
}

.media_tablet .publication-info-wrap5
{
    margin-top: -30px;
}

.media_tablet .publication-info-wrap5 .publication-img
{
    width: 100%;
    margin: 0;
    margin-top: 30px;

    text-align: center;
}

.media_tablet .publication-info-wrap5 .publication-img img
{
    width: 100%;
    height: auto;
}

.media_tablet .publication-info-wrap6 .publication-img
{
    max-width: none;
    margin: 0;
    margin-bottom: 30px;

    text-align: center;

    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.media_tablet .publication-info-wrap6 .publication-img img
{
    width: 100%;
    height: auto;
}

.media_tablet .administration-item
{
    width: 49.5%;
}

.media_tablet .administration-item-9,
.media_tablet .administration-item-10,
.media_tablet .administration-item-11,
.media_tablet .administration-item-12
{
    display: none;
}

.media_tablet .action .service1-feedback-wrap
{
    position: absolute;
    right: 0;
    bottom: -244px;
    left: 0;

    max-width: none;
    padding: 40px 15px;

    -webkit-box-shadow: none;
            box-shadow: none;
}

.media_tablet .action .service1-feedback
{
    position: relative;

    min-height: 400px;
    margin-bottom: 300px;
    padding: 0;

    background-image: url('../img/service1-feedback-bg-mob.png');
    background-position: top center;
    background-size: cover;
}

.media_tablet .service1-text1-wrap img
{
    width: 100%;
    height: auto;
}

.media_tablet .service1-text1-wrap
{
    max-height: 750px;
}

.media_tablet .main-header-feedback-wrap
{
    width: 100%;
    max-width: 390px;
}

.media_tablet .main-header-tel-wrap
{
    max-width: 160px;
}

.media_tablet .main-header-tel-wrap a
{
    font-size: 20px;
}

.media_tablet .banner-item
{
    padding: 20px;
}

.media_tablet .banner-info h2
{
    font-size: 19px;
    line-height: 28px;
}

.media_tablet .banner-price-new
{
    font-size: 36px;

    margin-right: 16px;
}

.media_tablet .service1-text1-wrap img
{
    float: none;
}

.media_tablet .action-programs-item-wrap p
{
    width: 100%;
    margin-bottom: 15px;
}

.media_tablet .action-programs-item-wrap
{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.media_tablet .action-programs-item-wrap b
{
    margin-right: 10px;
}

.media_tablet .fixed-header-search-form
{
    display: none;
}

.media_tablet .fixed-header-list-wrap
{
    overflow: auto;

    height: calc(100vh - 40px);
}

.media_tablet .videoPoster:after
{
    background-size: 80px;
}

.media_tablet .partnership-list
{
    margin-top: -20px;
}

.media_tablet .partnership-item
{
    width: 100%;
    margin-top: 20px;
}

.media_tablet .partnership-item img
{
    width: 100%;
    height: auto;
}

.media_tablet .clinic-title h1
{
    width: 100%;
    margin-bottom: 30px;
}

.media_tablet .solutions-info
{
    width: 100%;
    margin-top: 50px;
}

.media_tablet .solutions-slider h2
{
    display: block;
}

.media_tablet .solutions-slider .swiper-button-prev-style2,
.media_tablet .solutions-slider .swiper-button-next-style2
{
    top: 0;
}

.media_tablet .solutions-slider .swiper-button-prev-style2,
.media_tablet .solutions-slider .swiper-container-rtl .swiper-button-next-style2
{
    right: auto;
    left: 0;
}