.media_mobile.body_middle .rules-wrap2 h1
{
    font-size: 33px;
}

.media_mobile.body_middle .action h1
{
    font-size: 33px;
}

.media_mobile.body_middle .rules-text-cotaniner3 h3
{
    font-size: 30px;
}

.media_mobile.body_middle .rules-text-cotaniner4 h2
{
    font-size: 30px;
}

.media_mobile.body_middle .achievement-wrap1 h2
{
    font-size: 30px;
}

.media_mobile.body_middle .rules-text3 h3
{
    font-size: 30px;
}


.media_mobile.body_middle .action-clinics h2
{
    font-size: 30px;
}

.media_mobile.body_middle .clinics-item-title-wrap1 h3
{
    font-size: 22px;
}

.media_mobile.body_middle .clinics-item-title-wrap1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .clinics-item-text-wrap2 ul li
{
    font-size: 20px;
}

.media_mobile.body_middle .action-text1 p
{
    font-size: 22px;
}

.media_mobile.body_middle .action-programs h2
{
    font-size: 28px;
}

.media_mobile.body_middle .action-programs-item-wrap p
{
    font-size: 20px;
}

.media_mobile.body_middle .action-programs-item-wrap b
{
    font-size: 24px;
}

.media_mobile.body_middle .action-programs-item-wrap span
{
    font-size: 22px;
}

.media_mobile.body_middle .btn2
{
    font-size: 18px;
}

.media_mobile.body_middle .service1-feedback-wrap h2
{
    font-size: 30px;
}

.media_mobile.body_middle .service1-feedback-wrap p
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-feedback-wrap p a
{
    display: inline-block;
}

.media_mobile.body_middle .action-other h2
{
    font-size: 30px;
}

.media_mobile.body_middle .stock-timer-wrap i
{
    font-size: 18px;
}

.media_mobile.body_middle .stock-img-wrap i
{
    font-size: 44px;
}

.media_mobile.body_middle .stock-text h3
{
    font-size: 30px;
}

.media_mobile.body_middle .stock-text b
{
    font-size: 16px;
}

.media_mobile.body_middle .stock-text p
{
    font-size: 20px;
}


.media_mobile.body_middle .action-info-img p span
{
    font-size: 28px;
}

.media_mobile.body_middle .action-info-img p b
{
    font-size: 44px;
}

.media_mobile.body_middle .action-info-time b
{
    width: 100%;
    max-width: none;
}

.media_mobile.body_middle .action-info-text h2
{
    font-size: 30px;
}

.media_mobile.body_middle .action-info-text-wrap p
{
    font-size: 22px;
}


.media_mobile.body_middle .administration h1
{
    font-size: 33px;
}

.media_mobile.body_middle .agreement h1
{
    font-size: 33px;
}

.media_mobile.body_middle .section-nav h2
{
    font-size: 22px;
}

.media_mobile.body_middle .section-list1 li
{
    font-size: 18px;
}

.media_mobile.body_middle .jq-selectbox__select-text
{
    font-size: 20px;
}

.media_mobile.body_middle .jq-selectbox li,
.media_mobile.body_middle .jq-select-multiple li
{
    font-size: 20px;
}

.media_mobile.body_middle .btn4
{
    font-size: 18px;

    padding: 7px 20px;
}

.media_mobile.body_middle .administration-item-text h3
{
    font-size: 24px;
}

.media_mobile.body_middle .administration-item-text span
{
    font-size: 18px;
}

.media_mobile.body_middle .administration-item-text b
{
    font-size: 22px;
}

.media_mobile.body_middle .btn2
{
    font-size: 18px;

    padding: 7px 20px;
}

.media_mobile.body_middle .agreement-text p
{
    font-size: 20px;
}

.media_mobile.body_middle .agreement-text ul li
{
    font-size: 20px;
}

.media_mobile.body_middle .programs h1 .agreement-text p
{
    font-size: 20px;
}

.media_mobile.body_middle .programs h1 .agreement-text ul li
{
    font-size: 20px;
}


.media_mobile.body_middle .programs h1
{
    font-size: 33px;
}

.media_mobile.body_middle .programs-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-tabs .tab_list a
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-item h3
{
    font-size: 24px;
}

.media_mobile.body_middle .programs-item p
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-item-btn-wrap span
{
    font-size: 16px;
}

.media_mobile.body_middle .programs-item-btn-wrap a
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-text3 p
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-text3 h3
{
    font-size: 26px;
}

.media_mobile.body_middle .programs-text3 ul li
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-text3 p
{
    font-size: 20px;
}



.media_mobile.body_middle .attendance h1
{
    font-size: 33px;
}

.media_mobile.body_middle .attendance-text1 p
{
    font-size: 24px;
}

.media_mobile.body_middle .attendance-list span
{
    font-size: 20px;
}

.media_mobile.body_middle .attendance-list b
{
    font-size: 20px;
}

.media_mobile.body_middle .attendance-list i
{
    font-size: 18px;
}

.media_mobile.body_middle .attendance-btn1
{
    font-size: 16px;
}

.media_mobile.body_middle .attendance-btn3
{
    font-size: 20px;
}


.media_mobile.body_middle .certificates h1
{
    font-size: 33px;
}

.media_mobile.body_middle .certificates-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .certificates-item h3
{
    font-size: 18px;
}

.media_mobile.body_middle .clinic-title h1
{
    font-size: 33px;
}

.media_mobile.body_middle .clinic-map-info-title a
{
    font-size: 18px;
}

.media_mobile.body_middle .clinic-tab-item span
{
    font-size: 18px;
}

.media_mobile.body_middle .clinic-text1-title h2
{
    font-size: 26px;
}

.media_mobile.body_middle .clinic-text1 p
{
    font-size: 24px;
    line-height: normal;
}

.media_mobile.body_middle .clinic-doctors h2
{
    font-size: 30px;
}

.media_mobile.body_middle .doctors-item-text2 h3
{
    font-size: 26px;
}

.media_mobile.body_middle .doctors-item-text2 span
{
    font-size: 18px;
}

.media_mobile.body_middle .doctors-item-text2 b
{
    font-size: 20px;
}

.media_mobile.body_middle .clinic-doctors-btn-wrap a
{
    font-size: 20px;
}

.media_mobile.body_middle .clinic-reviews h2
{
    font-size: 30px;
}

.media_mobile.body_middle .reviews-item-text1 span
{
    font-size: 30px;
}

.media_mobile.body_middle .reviews-item-text1 b
{
    font-size: 26px;
}

.media_mobile.body_middle .reviews-item2
{
    font-size: 26px;
}

.media_mobile.body_middle .reviews-item-text2 p
{
    font-size: 26px;
}

.media_mobile.body_middle .btn3
{
    font-size: 16px;
}

.media_mobile.body_middle .clinic-reviews-btn-wrap .reviews-btn
{
    font-size: 20px;
}

.media_mobile.body_middle .clinic-text2-wrap p
{
    font-size: 20px;
}

.media_mobile.body_middle .clinic-photo h2
{
    font-size: 30px;
}

.media_mobile.body_middle .btn5
{
    font-size: 26px;

    padding: 20px 30px;
}

.media_mobile.body_middle .clinic-administration h2
{
    font-size: 30px;
}

.media_mobile.body_middle .clinic-photo-slider-wrap h2
{
    font-size: 26px;
}

.media_mobile.body_middle .clinic-map-info-title h2
{
    font-size: 22px;
}

.media_mobile.body_middle .clinic-map-info h3
{
    font-size: 18px;
}

.media_mobile.body_middle .clinic-map-info-item1
{
    font-size: 18px;
}

.media_mobile.body_middle .clinic-map-info-list2 li
{
    font-size: 16px;
}

.media_mobile.body_middle .clinics h1
{
    font-size: 33px;
}

.media_mobile.body_middle .clinics-filter-radio-wrap label span
{
    font-size: 18px;
}

.media_mobile.body_middle .company h1
{
    font-size: 33px;
}

.media_mobile.body_middle .company-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .company-text1 a
{
    font-size: 22px;
}

.media_mobile.body_middle .company-text2
{
    font-size: 20px;
}

.media_mobile.body_middle .contact1-title1 h2
{
    font-size: 33px;
}

.media_mobile.body_middle .contact1-title1 a
{
    font-size: 26px;
}

.media_mobile.body_middle .contact1-text h3
{
    font-size: 26px;
}

.media_mobile.body_middle .contact1-list2 h4
{
    font-size: 20px;
}

.media_mobile.body_middle .contact1-list2 span
{
    font-size: 20px;
}

.media_mobile.body_middle .contact1-title2 h2
{
    font-size: 30px;
}

.media_mobile.body_middle .contact1-item-text-wrap h3
{
    font-size: 26px;
}

.media_mobile.body_middle .contact1-item-text-wrap b
{
    font-size: 22px;
    line-height: normal;
}

.media_mobile.body_middle .contact1-list4 b
{
    font-size: 20px;
}

.media_mobile.body_middle .contact1-list4 a
{
    font-size: 20px;
}

.media_mobile.body_middle .corporate h1
{
    font-size: 33px;
}

.media_mobile.body_middle .corporate-text1 p
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .corporate-item-text2 h3
{
    font-size: 26px;
}

.media_mobile.body_middle .costsection h1
{
    font-size: 33px;
}

.media_mobile.body_middle .costsection-label span
{
    font-size: 18px;
}

.media_mobile.body_middle .costsection-search-wrap input
{
    font-size: 20px;
}

.media_mobile.body_middle .costsection-item h3
{
    font-size: 26px;
}

.media_mobile.body_middle .costsection-list2 a
{
    font-size: 20px;
}


.media_mobile.body_middle .credit h1
{
    font-size: 33px;
}

.media_mobile.body_middle .credit-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .credit-item h3
{
    font-size: 30px;
}

.media_mobile.body_middle .credit-item p
{
    font-size: 20px;
}

.media_mobile.body_middle .creditFeedback h1
{
    font-size: 33px;
}

.media_mobile.body_middle .input
{
    font-size: 18px;
}

.media_mobile.body_middle .label-checkbox span
{
    font-size: 18px;
}

.media_mobile.body_middle .label span
{
    font-size: 18px;
}

.media_mobile.body_middle .label span
{
    font-size: 18px;
}

.media_mobile.body_middle .creditFeedback-container-text h3
{
    font-size: 25px;
}

.media_mobile.body_middle .creditFeedback-container-text ul li
{
    font-size: 20px;
}

.media_mobile.body_middle .creditFeedback-container-text span
{
    font-size: 18px;
}

.media_mobile.body_middle .creditFeedback-container-text b
{
    font-size: 24px;
}


.media_mobile.body_middle .directory-slider h2
{
    font-size: 150px;
}

.media_mobile.body_middle .directory-slider .swiper-pagination .swiper-pagination-bullet:after
{
    font-size: 26px;
}

.media_mobile.body_middle .directory-filter .tab_list a
{
    font-size: 18px;
}

.media_mobile.body_middle .directory h1
{
    font-size: 33px;
}

.media_mobile.body_middle .service1-text1 h1
{
    font-size: 33px;
}

.media_mobile.body_middle .service1-text1-wrap p
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-reception h2
{
    font-size: 30px;
}

.media_mobile.body_middle .service1-reception-text p
{
    font-size: 18px;
}

.media_mobile.body_middle .service1-tabs .service1-tab_list a
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-tabs-wrap p
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-tab-list a
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-tab-link-wrap a
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-action-text h2
{
    font-size: 30px;
}

.media_mobile.body_middle .service1-action-text p
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-info h3
{
    font-size: 30px;
}

.media_mobile.body_middle .service1-list2 a
{
    font-size: 20px;
}

.media_mobile.body_middle .disease-wrap h2
{
    font-size: 30px;
}

.media_mobile.body_middle .disease-text h3
{
    font-size: 22px;
}

.media_mobile.body_middle .disease-text p
{
    font-size: 18px;
    line-height: normal;
}


.media_mobile.body_middle .doctor h1
{
    font-size: 33px;
}

.media_mobile.body_middle .doctor-info-title span
{
    font-size: 26px;
}

.media_mobile.body_middle .doctor-info-text-wrap1 b
{
    font-size: 24px;
}

.media_mobile.body_middle .doctor-info-text-wrap1 li
{
    font-size: 20px;
}

.media_mobile.body_middle .doctor-info-text-wrap1 p
{
    font-size: 22px;
}

.media_mobile.body_middle .doctor-info-text-wrap2 h2
{
    font-size: 26px;
}

.media_mobile.body_middle .doctor-info-text-wrap2 b
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-info-text-wrap2 span
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-info-text-wrap3 p
{
    font-size: 26px;
}

.media_mobile.body_middle .doctor-form p
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-reviews h2
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-reviews-link
{
    font-size: 20px;
}

.media_mobile.body_middle .doctor-specialization h2
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-specialization h3
{
    font-size: 26px;
}

.media_mobile.body_middle .doctor-specialization-list li
{
    font-size: 26px;
}

.media_mobile.body_middle .doctor-regalia h2
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-regalia-text-wrap h3
{
    font-size: 20px;
}

.media_mobile.body_middle .doctor-regalia-list li
{
    font-size: 20px;
}

.media_mobile.body_middle .doctor-certificates h2
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-certificates-item p
{
    font-size: 22px;
}

.media_mobile.body_middle .doctor-text-wrap h2
{
    font-size: 30px;
}

.media_mobile.body_middle .doctor-text p
{
    font-size: 20px;
}


.media_mobile.body_middle .doctors h1
{
    font-size: 33px;
}

.media_mobile.body_middle .media_mobile.body_middle .doctors-filter-input-wrap input
{
    font-size: 20px;
}

.media_mobile.body_middle .doctors-filter-radio-wrap span
{
    font-size: 18px;
}


.media_mobile.body_middle .faq h1
{
    font-size: 33px;
}

.media_mobile.body_middle .faq-list-wrap h3
{
    font-size: 26px;
}

.media_mobile.body_middle .faq-item .open_toggle
{
    font-size: 22px;
}

.media_mobile.body_middle .faq-item .block_toggle p
{
    font-size: 20px;
}


.media_mobile.body_middle .health h1
{
    font-size: 33px;
}

.media_mobile.body_middle .health-subtitle
{
    font-size: 26px;
}

.media_mobile.body_middle .health-list a
{
    font-size: 26px;
}

.media_mobile.body_middle .health-link-wrap a
{
    font-size: 18px;
}

.media_mobile.body_middle .health-question h2
{
    font-size: 26px;
}

.media_mobile.body_middle .questions-item h3 i
{
    font-size: 26px;
}

.media_mobile.body_middle .questions-item h3 b
{
    font-size: 22px;
}

.media_mobile.body_middle .questions-item span
{
    font-size: 26px;
    line-height: normal;
}

.media_mobile.body_middle .questions-item p
{
    font-size: 24px;
}

.media_mobile.body_middle .health-problem-list a
{
    font-size: 24px;
}

.media_mobile.body_middle .health-problem h2
{
    font-size: 26px;
}

.media_mobile.body_middle .health-informations h2
{
    font-size: 26px;
}

.media_mobile.body_middle .publications-item-text h3
{
    font-size: 22px;
}

.media_mobile.body_middle .publications-item-text p
{
    font-size: 18px;
}

.media_mobile.body_middle .publications-item-text-info span
{
    font-size: 16px;
}

.media_mobile.body_middle .publications-item-text-info b
{
    font-size: 16px;
}


.media_mobile.body_middle .housecall h1
{
    font-size: 33px;
}

.media_mobile.body_middle .housecall-form h3
{
    font-size: 24px;
}

.media_mobile.body_middle .textarea
{
    font-size: 18px;
}

.media_mobile.body_middle .housecall-text p
{
    font-size: 20px;
}

.media_mobile.body_middle .information h1
{
    font-size: 33px;
}

.media_mobile.body_middle .information-item-text-wrap2 h2
{
    font-size: 22px;
}

.media_mobile.body_middle .information-item-text-wrap2 p
{
    font-size: 18px;
}

.media_mobile.body_middle .jobs h1
{
    font-size: 33px;
}

.media_mobile.body_middle .jobs-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .jobs-text-container2 p
{
    font-size: 20px;
}

.media_mobile.body_middle .jobs-text-container2 ul li
{
    font-size: 20px;
}

.media_mobile.body_middle .jobs-list-wrap h2
{
    font-size: 30px;
}

.media_mobile.body_middle .jobs-list li a
{
    font-size: 24px;
}


.media_mobile.body_middle .partnership h1
{
    font-size: 33px;
}

.media_mobile.body_middle .partnership-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .partnership-item h3
{
    font-size: 30px;
}

.media_mobile.body_middle .partnership-text2 p
{
    font-size: 20px;
}

.media_mobile.body_middle .program h1
{
    font-size: 33px;
}

.media_mobile.body_middle .program-text-container1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .program-text-container1 h2
{
    font-size: 24px;
}

.media_mobile.body_middle .program-text-container1 ul li
{
    font-size: 20px;
}

.media_mobile.body_middle .program-text-container1 h3
{
    font-size: 20px;
}

.media_mobile.body_middle .program .row b
{
    font-size: 20px;
}

.media_mobile.body_middle .program .row span
{
    font-size: 18px;
}

.media_mobile.body_middle .program .row p
{
    font-size: 18px;
}

.media_mobile.body_middle .program-list-wrap h2
{
    font-size: 30px;
}

.media_mobile.body_middle .program-item h3
{
    font-size: 26px;
}

.media_mobile.body_middle .program-item p
{
    font-size: 20px;
}

.media_mobile.body_middle .program-item-btn-wrap span
{
    font-size: 18px;

    padding: 7px 20px;
}

.media_mobile.body_middle .program-item-btn-wrap a
{
    font-size: 20px;
}

.media_mobile.body_middle .program-item2 ul li i
{
    font-size: 20px;
}

.media_mobile.body_middle .program-item2 ul li span
{
    font-size: 18px;
}

.media_mobile.body_middle .program-item2 ul li span
{
    width: calc(100% - 120px);
}

.media_mobile.body_middle .program-item-btn-wrap a
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-text2 p
{
    font-size: 20px;
}

.media_mobile.body_middle .programs-text2 ul li
{
    font-size: 20px;
}

.media_mobile.body_middle .publication h1
{
    font-size: 33px;
}

.media_mobile.body_middle .publication p
{
    font-size: 20px;
}

.media_mobile.body_middle .publication h3
{
    font-size: 24px;
}

.media_mobile.body_middle .publications-title h1
{
    font-size: 33px;
}

.media_mobile.body_middle .questions-title h1
{
    font-size: 33px;
}


.media_mobile.body_middle .questions-input-wrap input
{
    font-size: 20px;
}

.media_mobile.body_middle .vacancy-form h2
{
    font-size: 24px;
}


.media_mobile.body_middle .reviews h1
{
    font-size: 33px;
}

.media_mobile.body_middle .reviews-input-wrap input
{
    font-size: 20px;
}

.media_mobile.body_middle .reviews-feedback-checkbox-wrap .radio-label span
{
    font-size: 18px;
}


.media_mobile.body_middle .rights h1
{
    font-size: 33px;
}

.media_mobile.body_middle .rights-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .rights-text2-wrap h3
{
    font-size: 24px;
}

.media_mobile.body_middle .rights-text2 p
{
    font-size: 20px;
}

.media_mobile.body_middle .rules-text3 p
{
    font-size: 20px;
}

.media_mobile.body_middle .rules-img3 span
{
    font-size: 20px;
}


.media_mobile.body_middle .search h1
{
    font-size: 33px;
}

.media_mobile.body_middle .search-input-wrap input
{
    font-size: 22px;
}

.media_mobile.body_middle .search-form p
{
    font-size: 20px;
}

.media_mobile.body_middle .search-item-link a
{
    font-size: 26px;
}

.media_mobile.body_middle .search-item p
{
    font-size: 20px;
}


.media_mobile.body_middle .cost1 h2
{
    font-size: 30px;
}

.media_mobile.body_middle .cost1-list i
{
    font-size: 20px;
}

.media_mobile.body_middle .cost1-list b
{
    font-size: 24px;
}

.media_mobile.body_middle .cost1-list span
{
    font-size: 22px;
}

.media_mobile.body_middle .service1-results h2
{
    font-size: 30px;
}

.media_mobile.body_middle .service1-results-img-container b
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-results-text p
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-other h3
{
    font-size: 30px;
}

.media_mobile.body_middle .service1-other-item h4
{
    font-size: 28px;
}

.media_mobile.body_middle .service1-other-item b
{
    font-size: 40px;
}

.media_mobile.body_middle .service1-other-item p
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-list1 a
{
    font-size: 22px;
}

.media_mobile.body_middle .service1-doctors-link-wrap a
{
    font-size: 20px;
}

.media_mobile.body_middle .service1-doctors h3
{
    font-size: 30px;
}

.media_mobile.body_middle .service1-doctors-text h4
{
    font-size: 22px;
}

.media_mobile.body_middle .service1-doctors-text p
{
    font-size: 20px;
}


.media_mobile.body_middle .solutions-text1 p
{
    font-size: 20px;
}

.media_mobile.body_middle .solutions-list li a
{
    font-size: 22px;
}

.media_mobile.body_middle .solutions-list li a:hover
{
    font-size: 22px;
}

.media_mobile.body_middle .solutions .tab_list1 li a
{
    font-size: 14px;
}

.media_mobile.body_middle .solutions-text2 p
{
    font-size: 20px;
}


.media_mobile.body_middle .stock h1
{
    font-size: 33px;
}

.media_mobile.body_middle .vacancy h1
{
    font-size: 33px;
}

.media_mobile.body_middle .vacancy-item h2
{
    font-size: 22px;
}

.media_mobile.body_middle .vacancy-item li
{
    font-size: 20px;
}

.media_mobile.body_middle .vacancy-item2 p span
{
    font-size: 22px;
}

.media_mobile.body_middle .jq-file__name:after
{
    font-size: 18px;
}

.media_mobile.body_middle .changed .jq-file__name
{
    font-size: 18px;
}

.media_mobile.body_middle .videos-item-text h3
{
    font-size: 22px;
}


.media_mobile.body_middle .videos h1
{
    font-size: 33px;
}

.media_mobile.body_middle .main-header-link1
{
    width: 50%;
}

.media_mobile.body_middle .main-header-link-wrap
{
    width: 50%;
}

.media_mobile.body_middle .main-header-link-item-6
{
    width: 100%;
}

.media_mobile.body_middle .main-header-link1 b:after
{
    -webkit-transform: translateX(80px) translateY(-50%);
            transform: translateX(80px) translateY(-50%);
}

.media_mobile.body_middle .main-header-link1.active b:after
{
    -webkit-transform: translateX(80px) translateY(-50%) rotate(180deg);
            transform: translateX(80px) translateY(-50%) rotate(180deg);
}

.media_mobile.body_middle .main-header-nav-link-wrap2 a
{
    font-size: 0;
}

.media_mobile.body_middle .main-header-nav-link-wrap2 a:after
{
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.media_mobile.body_middle .main-header-wrap3 .main-header-form-search
{
    display: none;
}

.media_mobile.body_middle .main-header-wrap3
{
    max-width: 150px;
}

.media_mobile.body_middle .main-header-nav-link-wrap2 a
{
    font-size: 0;
}

.media_mobile.body_middle .main-footer-list2 li
{
    margin-right: 0;
}

.media_mobile.body_middle .main-footer-certificates-list
{
    max-width: none;
}

.media_mobile.body_middle .fixed-header-tel-wrap
{
    width: auto;
    max-width: 238px;
}



.media_mobile.body_middle .main-header-menuToggle
{
    line-height: 50px;

    padding-top: 0;
    padding-bottom: 0;
}

.media_mobile.body_middle .main-header-menuToggle.active
{
    padding-top: 0;
    padding-bottom: 0;
}

.media_mobile.body_middle .main-footer-list-wrap1
{
    width: 100%;
}

.media_mobile.body_middle .main-footer-list-wrap2
{
    width: 100%;
}

.media_mobile.body_middle .main-footer-list-wrap3 .main-footer-list
{
    width: 100%;
}

.media_mobile.body_middle .services1 h2
{
    font-size: 30px;
}

.media_mobile.body_middle .section-nav h2
{
    font-size: 22px;
}

.media_mobile.body_middle .section-list1 li
{
    font-size: 20px;
}

.media_mobile.body_middle .breadcrumbs-list li
{
    font-size: 16px;
}

.media_mobile.body_middle .rules-wrap2 h1
{
    font-size: 30px;
    line-height: normal;
}

.media_mobile.body_middle .action h1
{
    font-size: 30px;
    line-height: normal;
}

.media_mobile.body_middle .rules-wrap2 p
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .rules-text3 h3
{
    font-size: 26px;
    line-height: normal;
}

.media_mobile.body_middle .rules-text-list1 li
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .rules-info-link b
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .rules-info-link-item i
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .rules-info-link-item span
{
    font-size: 16px;
    line-height: normal;
}

.media_mobile.body_middle .rules-text-list2 b
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .rules-text-list2 span
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .rules-text-cotaniner3 h3
{
    font-size: 26px;
    line-height: normal;
}

.media_mobile.body_middle .rules-text-cotaniner4 h2
{
    font-size: 26px;
    line-height: normal;
}

.media_mobile.body_middle .achievement-wrap1 h2
{
    font-size: 26px;
    line-height: normal;
}

.media_mobile.body_middle .achievement-item-text h3
{
    font-size: 22px;
    line-height: normal;
}

.media_mobile.body_middle .btn4
{
    font-size: 16px;
    line-height: normal;

    padding: 6px 15px;
}

.media_mobile.body_middle .rules-text-list2 a
{
    font-size: 20px;
    line-height: normal;
}

.media_mobile.body_middle .stock-timer-wrap i
{
    max-width: none;
}

.media_mobile.body_middle .clinics-item-title-wrap1 h3
{
    font-size: 20px;
}

.media_mobile.body_middle .administration h1
{
    font-size: 26px;
}

.media_mobile.body_middle .agreement h1
{
    font-size: 26px;
}

.media_mobile.body_middle .programs h1
{
    font-size: 26px;
}

.media_mobile.body_middle .attendance h1
{
    font-size: 26px;
}


.media_mobile.body_middle .certificates h1
{
    font-size: 26px;
}

.media_mobile.body_middle .clinic-title h1
{
    font-size: 26px;
}

.media_mobile.body_middle .clinics h1
{
    font-size: 26px;
}

.media_mobile.body_middle .company h1
{
    font-size: 26px;
}

.media_mobile.body_middle .contact1-title1 h2
{
    font-size: 26px;
}

.media_mobile.body_middle .corporate h1
{
    font-size: 26px;
}

.media_mobile.body_middle .costsection h1
{
    font-size: 26px;
}

.media_mobile.body_middle .credit h1
{
    font-size: 26px;
}

.media_mobile.body_middle .creditFeedback h1
{
    font-size: 26px;
}

.media_mobile.body_middle .directory h1
{
    font-size: 26px;
}

.media_mobile.body_middle .service1-text1 h1
{
    font-size: 26px;
}

.media_mobile.body_middle .doctor h1
{
    font-size: 26px;
}

.media_mobile.body_middle .doctors h1
{
    font-size: 26px;
}

.media_mobile.body_middle .faq h1
{
    font-size: 26px;
}

.media_mobile.body_middle .housecall h1
{
    font-size: 26px;
}

.media_mobile.body_middle .information h1
{
    font-size: 26px;
}

.media_mobile.body_middle .jobs h1
{
    font-size: 26px;
}

.media_mobile.body_middle .partnership h1
{
    font-size: 26px;
}

.media_mobile.body_middle .program h1
{
    font-size: 26px;
}

.media_mobile.body_middle .publication h1
{
    font-size: 26px;
}

.media_mobile.body_middle .publications-title h1
{
    font-size: 26px;
}

.media_mobile.body_middle .questions-title h1
{
    font-size: 26px;
}

.media_mobile.body_middle .reviews h1
{
    font-size: 26px;
}


.media_mobile.body_middle .rights h1
{
    font-size: 26px;
}


.media_mobile.body_middle .search h1
{
    font-size: 26px;
}

.media_mobile.body_middle .stock h1
{
    font-size: 26px;
}

.media_mobile.body_middle .vacancy h1
{
    font-size: 26px;
}

.media_mobile.body_middle .videos h1
{
    font-size: 26px;
}

.media_mobile.body_middle .main-header-link-item a
{
    font-size: 16px;
}

.media_mobile.body_middle .main-header-link1 b
{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.media_mobile.body_middle .main-header-link1 b:after
{
    -webkit-transform: translateX(65px) translateY(-50%);
            transform: translateX(65px) translateY(-50%);
}

.media_mobile.body_middle .main-header-link1.active b:after
{
    -webkit-transform: translateX(65px) translateY(-50%) rotate(180deg);
            transform: translateX(65px) translateY(-50%) rotate(180deg);
}

.media_mobile.body_middle .fixed-header-feedback
{
    max-width: 84px;
}

.media_mobile.body_middle .fixed-header-feedback a
{
    padding: 0;
}

.media_mobile.body_middle .fixed-header-tel-wrap a
{
    font-size: 24px;
}

.media_mobile.body_middle .main-header-nav-mobile-block a
{
    font-size: 16px;
}

.media_mobile.body_middle .main-header-nav-link-wrap2 a
{
    font-size: 0;
}

.media_mobile.body_middle .banner-tab-slider
{
    padding-right: 15px;
    padding-left: 15px;
}

.media_mobile.body_middle .banner-link-wrap1
{
    padding-left: 15px;
}

.media_mobile.body_middle .banner-info
{
    padding-right: 15px;
    padding-left: 15px;
}

.media_mobile.body_middle .banner-info h2
{
    font-size: 25px;
}

.media_mobile.body_middle .banner-price-new
{
    font-size: 40px;
}

.media_mobile.body_middle .banner-price-old
{
    font-size: 24px;
}

.media_mobile.body_middle .clinic-tab_list li
{
    width: 100%;
}

.media_mobile.body_middle .main-footer-contacts
{
    max-width: none;
}

.body_middle .main-header-nav-mobile-block a{
    padding: 10px 0;
}

.body_middle .main-header-nav-link-wrap3 .colors a{
    padding: 0 4px;
}