.black_tablet.body_black .main-header-form-search input{
	border-right: none;
}

.black_tablet.body_black .banner .tab_list{
	width: calc(100% + 2px);
	margin-left: -1px;
}


.black_tablet.body_black .achievement-item{
	margin-right: 0;
}