.rules-info-link-item.pdf a:after {
    background: url(../img/rules-info-link-item-1.svg) center no-repeat;
}

.rules-info-link-item.msword a:after,
.rules-info-link-item.vndopenxmlformatsofficedocumentwordprocessingmldocument a:after {
    background: url(../img/rules-info-link-item-2.svg) center no-repeat;
}

.rules-info-link-item.vndmsexcel a:after,
.rules-info-link-item.vndopenxmlformatsofficedocumentspreadsheetmlsheet a:after {
    background: url(../img/rules-info-link-item-3.svg) center no-repeat;
}

.cost1-list i a {
    color: inherit;
}

.preloader-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.preloader {
    width: 64px;
    height: 64px;
    background: url(../img/preloader.gif) center no-repeat;
}

.map-wrap #clinics-map {
    width: 100%;
    height: 600px;
}

.letter {
    width: 35px;
    height: 35px;
    background-color: #0a9beb;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    padding-bottom: 2px;
}

.popup-window {
    visibility: visible !important;

    width: 480px;
    max-width: 100%;
    padding: 40px;

    background: #f3fafe;
    box-shadow: 0 12px 24px rgba(0,0,0,.13);
    text-align: center;
}

.htg-print {
    display: none;
}

.doctor-reviews-slider .reviews-item.active, .reviews .reviews-item.active, .clinic-reviews .reviews-item.active {
    max-height: 2000px;
    height: 100%;
}
.input-checkbox:checked ~ .input-checkbox:checked ~ .reviews-feedback-form-wrap3 .btn2 {
    background-color: #0a9beb;
}
table.img-cont {
    background: #f3fafe;
}
 

.doctor-specialization li,
.doctor-specialization p{
width: 30%;
    margin-top: 5px;
    color: rgba(20, 51, 65, 0.75);
    font-size: 20px;
    font-weight: 300;
}
 

.doctor-specialization ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -5px;
}

/*ul*/

.programs-text1 ol li,
.partnership-text1  ol li,
.doctor-text-wrap ol li{list-style-type: decimal;}


.rules-text-list1 li,
.programs-text1 ul li,.programs-text1 ol li,
.partnership-text1 ul li, .partnership-text1 ol li,
.service1-text1-wrap ul li,.service1-text1-wrap ol li,
.doctor-text-wrap ul li,
.clinic-text2-wrap ul li,
.action-info ul li,
.doctor-regalia ul li, .doctor-regalia ol li {
    list-style: initial;
    line-height: initial;
}

p + ul.rules-text-list1 {     padding: 0 15px 15px;}

ul.rules-text-list1, .rules-wrap2 ul ,
.programs-text1 ul ,.programs-text1 ol ,
.partnership-text1 ul,.partnership-text1 ol ,
.service1-text1-wrap ul,.service1-text1-wrap ol,
.doctor-regalia ul,.doctor-regalia ol,.doctor-text-wrap ul,.doctor-text-wrap ol,
.clinic-text2-wrap ul,
.action-info ul{
 
}

.action-info ul{
color: #143341;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 32px;
}

.clinic-text2-wrap ul{ font-size: 16px;}
 
.programs-text1 ul li,.programs-text1 ol li,
.rules-wrap2 ul li,
.partnership-text1 ul li, .partnership-text1 ol li,
.service1-text1-wrap ul li,.service1-text1-wrap ol li,
.doctor-text-wrap ul li,.doctor-text-wrap ol li,
.doctor-info-text-wrap3  ul li,.doctor-info-text-wrap3  ol li,.doctor-regalia li  {
    color: rgba(20, 51, 65, 0.75);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.rules-wrap2 p  ,.programs-text1 p {margin-bottom: 20px;}



.text_block {
font-family: 'Gerbera', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
 color: rgba(20, 51, 65, 0.75);
}
.text_block ul li{list-style: initial; }.text_block ol li{list-style-type: decimal;}
.text_block ul ,.text_block ol {   
    font-size: 16px;
    font-weight: 300; 
    line-height: 32px;
    margin-left: 40px;
    padding: 0 0px 15px;
    color: rgba(20, 51, 65, .8);    
}
.text_block ul li ,.text_block ol li{
    color: rgba(20, 51, 65, 0.75);
    font-size: 16px;
    font-weight: 300; 
}
.text_block p{
color: rgba(20, 51, 65, .75);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}
.text_block ul li p, .text_block ol li p{margin:0:}
.text_block ol ul  {    
 padding:0; 
}
.text_block ol ul li{
     list-style: initial;
}.text_block h2,.text_block h3,.text_block h4 { margin: 15px 0 10px;}

.clinic-text2-wrap p,
.doctor-container p{
color: rgba(20, 51, 65, .75);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
}
 
.doctor-container h3,.rules-wrap2 h3{
    color: #143341;
    font-size: 18px;
    margin-bottom: 15px;
}
 
.service1-text1 h2,.rules-wrap2 h2 {
      color: #143341;
    font-size: 26px;
    margin: 15px 0 10px;
    text-transform: uppercase;
}

 blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
/*blockquote:before {
  color: #0A9BEB;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/
 

/* table */
.text_block .price-holder {overflow-x: auto;}
.tbl-cost-head {font-weight:bold; font-size:18px; margin-bottom:13px;}
.price-holder table {margin:0; border: 2px solid rgba(0, 139, 199, 1);}
.price-holder td {border-bottom:1px solid rgba(0, 139, 199, 0.8); padding:5px 7px 4px 7px;}
.price-holder td p {margin:0;}
.price-holder th {border-bottom:1px solid #ccc; background-color:#efefef; padding: 9px 7px 7px 7px;}
.tbl-cost-subhead {font-weight:bold;}
.price-holder .tbl-cost-service {font-weight:bold;}
.price-holder .price {width:1%; white-space:nowrap;}
.tbl-sm-font td {font-size:0.9em; padding-top:8px; padding-bottom:8px;}
.tbl-program td {padding-left:2px; padding-right:2px;}
/* table */

/**/
.promo-ends h2 {
    padding: 5px 0;
    color: #143341;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
    /* letter-spacing: -1px; */
    text-transform: uppercase;
}



.service1-action-slider .swiper-button-prev-style2, .service1-action-slider .swiper-button-next-style2 {
    top: 65px;
}

.partners-list .partner {
    display: inline-block;
    width: 19%;
    padding: 10px 0;
}

.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
    height: 24px;
    width: 24px;
    background-size: 24px 24px;
    background-color: #0a9beb;
}

.service1-info ul.service1-list2 {
    margin: 0 0 30px;
}
@media  (max-width: 480px)
{
	.doctor-specialization li, .doctor-specialization p {
		width: 100%;
		margin-top: 10px;
	}
}

.made_by {
	/*margin-right: 100px;*/
}

.service1-text1-wrap ul li{
	list-style: none;
}

.promo-title {
	display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


ul.menu_list_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
ul.menu_list_ul li {
    padding-right: 15px;
}
ul.menu_list_ul li a{
    color: #0a9beb;
}

.service1-text1 ul.menu_list_ul>li:before{
    content: none;
}
.section-nav ul.service1-list2{
    padding: 0;
}
.service1-text1 ul.menu_list_ul {
    padding-left: 0px;
    margin: 15px 0;
}

li.attendance-item-hidden1 {
    display: none;
}
/***********************/
.before_stale{
    display: none;
}

/*.before_stale .section-nav {
    padding-left: 30px;
}*/
.before_stale .section-nav ul{
    list-style-type: none;
}
.service1-text1 .before_stale ul>li:before {
    content: "";
    margin: 0;
    color: #0a9beb;
}
.service1-text1 .before_stale ul>li{
    text-transform: uppercase;
}
.service1-text1 .before_stale a{
    color: #364e5b;
    display: block;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-transform: none;
}
.service1-text1 .before_stale .section-nav h2 {
    color: #364e5b;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 19px;
    padding-bottom: 2px;
    border-bottom: 1px solid #f9fafa;
    text-transform: initial;
}


.credit-wrap2 {
    position: relative;
    overflow: hidden;
}
.credit-wrap2 .show_slow{
    max-height: 290px;
    overflow: hidden;
}
.credit-wrap2 .credit-list{
    display: none;
}
.credit-wrap2.active .credit-list{
    display: flex;
}
.credit-wrap2.active .show_slow{
    max-height: unset;
    overflow: unset;
}

/**************************/
.slickArrow.slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 55;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #0a9beb;
    text-align: center;
    cursor: pointer;
}
.nextArrow {
    right: 0;
    transform: rotate(180deg);
}
.slickArrow.slick-disabled{
    background-color: #a9dcf8;
}
.doctors_items_wrap {
    padding: 20px;
}
.doctors_name_wrap {
    background-color: #f3fafe;
    padding: 20px;
    text-align: center;
    color: #0a9beb;
}
/**************************/
.rules-container-btn{
    max-height: 400px;
    overflow: hidden;
}
.rules-wrap2 .text-btn {
    display: block;
}
.rules-container-btn.active {
    max-height: 8000px;
    padding-bottom: 60px;
}
.section-wrap1.before_stale{
    padding-top: 30px;
    padding: 30px 20px;
}
/*.section-wrap1.before_stale .menu-btn{
    top:10px;
}*/
.section-wrap1.before_stale .service1-list2 a{
    color: #444e53;
}
.active .text-btn span{
    bottom: unset;
    top: 8px;
}
.active .text-btn.active span{
    top: 20px;
}
.new_servis .section-list1 li {
    margin-bottom: 18px;
}
.new_servis .section-list1 a {
    /* color: #444e53; */
    letter-spacing: 0;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-transform: uppercase;
}
.new_servis .section-list1 a:hover{
    color: #fff;
    opacity: .9;
}

/*********************/

.stock-item {
    /*border: solid 3px #f3fafe;*/
    box-shadow: 0 0 5px 0 #a3d9f7;
}


.service1-action .promo-ends .title_for_action_slide, .service1-action .promo-ends b {
    padding-left: 19px;
}
.service1-action .promo-ends .title_for_action_slide{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
}
/*****************************/
#button-up {
    display: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: fixed;
    right: 25px;
    bottom: 100px;
    color: #000;
    transition: .3s;
    width: 50px;
    height: 50px;
    background-color: #f3fafe;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 5px 0px #0a9beb;
}
#button-up:before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    transform: rotate(180deg);
    background: url(/local/templates/clin/assets/css/../img/arrow2.png) center no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#button-up:hover{
    cursor: pointer;
    opacity: 1;
    filter:alpha(opacity=100);
    transition: .3s;
    color: #FF0000;
}
.toTop-wrap {
    display: none !important;
}
.swiper-button-next10{
    display: none;
}
.swiper-button-prev10{
    display: none;
}
/*****************************/

@media only screen and (max-width: 1359px)
{

    .service1-text1 h1 {
        padding-left: 45px;
    }

    .actionImg > img{
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: none;
    }
    .actionImg{
        padding-bottom: 25%;
    }
}

@media only screen and (max-width: 1359px){
    .before_stale{
        display: block;
    }
    div#start .menu-btn{
        top: -38px;
    }
    .programs-body .programs h1{
        padding-left: 45px;
    }
}
@media only screen and (max-width: 1358px){
    .programs-body .programs-wrap2 h1{
        padding-left: 45px !important;
    }
}

.ajax_service_form form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 39px 50px 23px 50px;
    background-color: #f3fafe;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.ajax_service_form form .btn2 {
    font-size: 12px;
    font-weight: 700;
    padding: 18.5px 55px;
    background-color: #0a9beb;
	cursor: pointer;
	border: 0;
}
.credit-text1.show_slow .credit-text1{
    max-height: unset;
}
div#start {
    position: relative;
}

@media only screen and (max-width: 700px){
    .text-btn.t_credit.active {
        bottom: 83px;
    }
    .actionImg {
        padding-bottom: 45.32%;
    }
    .section-wrap1.before_stale ul {
        padding-left: 0;
    }
    .before_stale .section-nav {
        padding-left: 0;
    }
    .rules .text-btn.t_credit.active {
        bottom: 55px;
    }
    div#start .menu-btn{
        top: 0;
    }
    /*.section-wrap1.before_stale.active{
        left: 0;
    }*/
}

