.body_middle
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .main-header-link1 b
{
    display: block;
}

.body_middle .main-footer-share-item b
{
    display: block;
}

.body_middle .main-header-link1 b
{
    font-size: 18px;
}

.body_middle .main-header-link1-list a
{
    font-size: 18px;
}

.body_middle .main-header-link-item a
{
    font-size: 18px;

    padding-top: 8px;
    padding-bottom: 8px;
}

.body_middle .main-header-link-item
{
    width: 14%;
}

.body_middle .main-header-link-item-1 a
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.body_middle .main-header-link-item-2
{
    width: 16%;
}

.body_middle .main-header-link-item-3
{
    width: 30%;
}

.body_middle .main-header-link-item-3 a
{
    padding-top: 0;
    padding-bottom: 0;
}

.body_middle .main-header-link-item-4
{
    width: 30%;
}

.body_middle .main-header-link-item-5
{
    width: 10%;
}

.body_middle .main-header-form-search
{
    width: calc(100% - 1044px);
}

.body_middle .main-header-link-wrap
{
    max-width: 835px;
}

.body_middle .main-header-link1 b
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.body_middle .main-header-form-search input
{
    font-size: 27px;

    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.body_middle .fixed-header-search-form
{
    width: calc(100% - 800px);
}

.body_middle .fixed-header-search-form input
{
    font-size: 27px;

    height: 48px;
    padding-top: 0;
    padding-bottom: 0;
}

.body_middle .main-header-form-search input::-webkit-input-placeholder
{
    font-size: 27px;
}

.body_middle .main-header-form-search input:-ms-input-placeholder
{
    font-size: 27px;
}

.body_middle .main-header-form-search input::-ms-input-placeholder
{
    font-size: 27px;
}

.body_middle .main-header-form-search input::placeholder
{
    font-size: 27px;
}

.body_middle .fixed-header-search-form input::-webkit-input-placeholder
{
    font-size: 27px;
}

.body_middle .fixed-header-search-form input:-ms-input-placeholder
{
    font-size: 27px;
}

.body_middle .fixed-header-search-form input::-ms-input-placeholder
{
    font-size: 27px;
}

.body_middle .fixed-header-search-form input::placeholder
{
    font-size: 27px;
}

.body_middle .main-header-tel-wrap a
{
    font-size: 36px;
}

.body_middle .main-header-tel-wrap b
{
    font-size: 21px;
}

.body_middle .btn1
{
    font-size: 18px;

    padding: 8px 15px;
}

.body_middle .main-header-tel-wrap
{
    max-width: 290px;
}

.body_middle .main-header-feedback-wrap
{
    max-width: 600px;
}

.body_middle .fixed-header-menu-toggle
{
    font-size: 27px;

    padding-top: 6px;
    padding-bottom: 6px;
}

.body_middle .fixed-header-tel-wrap
{
    margin-top: -4px;
    padding-left: 0;
}

.body_middle .fixed-header-tel-wrap a
{
    font-size: 30px;
}

.body_middle .fixed-header-tel-wrap span
{
    font-size: 21px;
}

.body_middle .fixed-header-feedback a
{
    font-size: 18px;
    line-height: 48px;

    padding-top: 0;
    padding-bottom: 0;
}

.body_middle .main-header-list > .submenu-wrap > a
{
    font-size: 27px;
    line-height: 70px;

    padding-top: 0;
    padding-bottom: 0;
}

.body_middle .submenu-container .submenu_tab_list a
{
    font-size: 24px;

    padding-top: 8px;
    padding-bottom: 8px;
}

.body_middle .submenu-container a
{
    font-size: 30px;
}

.body_middle .main-header-menuToggle
{
    font-size: 24px;

    padding-top: 3px;
    padding-bottom: 3px;
}

.body_middle .main-header-menuToggle.active
{
    font-size: 24px;

    padding-top: 3px;
    padding-bottom: 3px;
}

.body_middle .body_black .fixed-header-list a
{
    font-size: 27px;
}


.body_middle .main-header-logo img
{
    display: block;
}

.body_middle .main-header-nav-mobile-block a
{
    font-size: 16px;

    padding: 0;
}

.body_middle .banner .tab_list a
{
    font-size: 27px;
}

.body_middle .banner-list a
{
    font-size: 24px;
}

.body_middle .banner-link-wrap1 a
{
    font-size: 24px;
}

.body_middle .banner-info h2
{
    font-size: 36px;
    line-height: 95%;
}

.body_middle .banner-price-new
{
    font-size: 60px;
}

.body_middle .banner-price-old
{
    font-size: 30px;
}

.body_middle .banner-info p
{
    font-size: 18px;
}

.body_middle .services1 h2
{
    font-size: 39px;
}

.body_middle .services1-item h3
{
    font-size: 27px;
}

.body_middle .services1-item p
{
    font-size: 24px;
}

.body_middle .map-btn span
{
    font-size: 18px;
}

.body_middle .main-footer-container h3
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .main-footer-list a
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .main-footer-list1 a
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .main-footer-tel
{
    font-size: 36px;
    line-height: normal;
}

.body_middle .main-footer-contacts span
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .main-footer-contacts
{
    max-width: 284px;
}

.body_middle .main-footer-certificates-item p
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .main-footer-certificates-item
{
    padding-left: 96px;
}

.body_middle .main-footer-share-wrap span
{
    font-size: 21px;
}

.body_middle .main-footer-subscribe-btn-wrap a
{
    font-size: 21px;
}

.body_middle .main-footer-versions-item button
{
    font-size: 18px;
}

.body_middle .main-footer-wrap4 p
{
    font-size: 21px;
}

.body_middle .main-footer-list2 a
{
    font-size: 21px;
}

.body_middle .main-footer-list2 li:after
{
    height: 20px;
    margin-top: 2px;
}

.body_middle .main-footer-wrap4 span a
{
    font-size: 21px;
}

.body_middle .main-footer-share-wrap
{
    max-width: 570px;
}


.body_middle .section-nav h2
{
    font-size: 27px;
}

.body_middle .breadcrumbs-list li
{
    font-size: 18px;
}

.body_middle .rules-wrap2 h1
{
    font-size: 54px;
    line-height: normal;
}

.body_middle .rules-wrap2 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-text3 h3
{
    font-size: 42px;
    line-height: normal;
}

.body_middle .rules-text-list1 li
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-info-link b
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-info-link-item i
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-info-link-item span
{
    font-size: 22px;
    line-height: normal;
}

.body_middle .rules-text-list2 b
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-text-list2 span
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-text-cotaniner3 h3
{
    font-size: 42px;
    line-height: normal;
}

.body_middle .rules-text-cotaniner4 h2
{
    font-size: 42px;
    line-height: normal;
}

.body_middle .achievement-wrap1 h2
{
    font-size: 42px;
    line-height: normal;
}

.body_middle .achievement-item-text h3
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .btn4
{
    font-size: 18px;
    line-height: normal;

    padding: 6px 15px;
}

.body_middle .rules-text-list2 a
{
    font-size: 24px;
    line-height: normal;
}


.body_middle .action h1
{
    font-size: 54px;
}

.body_middle .action-paragraph1
{
    font-size: 27px;
}

.body_middle .action-info-time b
{
    font-size: 30px;
}

.body_middle .service1-action-timer .clock-text-wrap span
{
    font-size: 60px;
}

.body_middle .service1-action-timer .clock-text-wrap b
{
    font-size: 18px;
    line-height: normal;
}

.body_middle .action-info-text h2
{
    font-size: 39px;
}

.body_middle .action-info-text-wrap p
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .text-btn span
{
    font-size: 16px;
}

.body_middle .action-clinics h2
{
    font-size: 42px;
    line-height: normal;
}

.body_middle .clinics-item-title-wrap1 h3
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .clinics-item-title-wrap1 p
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .clinics-item-text-wrap2 ul li
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .action-text1 p
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .action-programs h2
{
    font-size: 39px;
    line-height: normal;
}

.body_middle .action-programs-item-wrap p
{
    font-size: 24px;

    width: calc(100% - 440px);
}

.body_middle .action-programs-item-wrap b
{
    font-size: 30px;

    max-width: 220px;
}

.body_middle .action-programs-item-wrap span
{
    font-size: 26px;

    max-width: 180px;
}

.body_middle .btn2
{
    font-size: 22px;

    padding: 7px 20px;
}

.body_middle .service1-feedback-wrap h2
{
    font-size: 36px;
    line-height: normal;
}

.body_middle .service1-feedback-wrap p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .service1-feedback-wrap p a
{
    display: inline-block;
}

.body_middle .action-other h2
{
    font-size: 42px;
    line-height: normal;
}

.body_middle .stock-timer-wrap i
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .stock-img-wrap i
{
    font-size: 50px;
    line-height: normal;
}

.body_middle .stock-text h3
{
    font-size: 36px;
    line-height: normal;
}

.body_middle .stock-text b
{
    font-size: 18px;
}

.body_middle .stock-text p
{
    font-size: 24px;
    line-height: normal;
}


.body_middle .action-info-img p span
{
    font-size: 30px;
}

.body_middle .action-info-img p b
{
    font-size: 50px;
}


.body_middle .administration h1
{
    font-size: 54px;
}

.body_middle .agreement h1
{
    font-size: 54px;
}

.body_middle .section-nav h2
{
    font-size: 27px;
}

.body_middle .section-list1 li
{
    font-size: 21px;
}

.body_middle .jq-selectbox__select-text
{
    font-size: 24px;

    padding-top: 9px;
    padding-bottom: 9px;
}

.body_middle .jq-selectbox li,
.body_middle .jq-select-multiple li
{
    font-size: 24px;
}

.body_middle .btn4
{
    font-size: 18px;

    padding: 7px 20px;
}

.body_middle .administration-item-text h3
{
    font-size: 30px;
}

.body_middle .administration-item-text span
{
    font-size: 21px;
}

.body_middle .administration-item-text b
{
    font-size: 27px;
}

.body_middle .btn2
{
    font-size: 22px;

    padding: 7px 20px;
}

.body_middle .programs h1 .agreement-text p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .programs h1 .agreement-text ul li
{
    font-size: 24px;
    line-height: normal;
}


.body_middle .programs h1
{
    font-size: 54px;
}

.body_middle .programs-text1 p
{
    font-size: 24px;
}

.body_middle .programs-tabs .tab_list a
{
    font-size: 24px;

    padding-top: 25px;
    padding-bottom: 25px;
}

.body_middle .programs-item h3
{
    font-size: 30px;
}

.body_middle .programs-item p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .programs-item-btn-wrap span
{
    font-size: 18px;

    padding: 7px 10px;
}

.body_middle .programs-item-btn-wrap a
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .programs-item
{
    padding: 20px;
}

.body_middle .programs-text3 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .programs-text3 h3
{
    font-size: 32px;
}

.body_middle .programs-text3 ul li
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .programs-text3 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .attendance h1
{
    font-size: 54px;
}

.body_middle .attendance-text1 p
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .attendance-list span
{
    font-size: 24px;

    width: calc(100% - 440px);
}

.body_middle .attendance-list b
{
    font-size: 24px;

    max-width: 220px;
}

.body_middle .attendance-list i
{
    font-size: 22px;

    max-width: 180px;
}

.body_middle .attendance-btn1
{
    font-size: 18px;

    padding: 9px 15px;
}

.body_middle .attendance-btn3
{
    font-size: 22px;

    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
}

.body_middle .certificates h1
{
    font-size: 54px;
}

.body_middle .certificates-text1 p
{
    font-size: 24px;
}

.body_middle .certificates-item h3
{
    font-size: 21px;
}


.body_middle .clinic-title h1
{
    font-size: 54px;
}

.body_middle .clinic-title-btn
{
    max-width: 365px;
}

.body_middle .clinic-map-info-title a
{
    font-size: 22px;

    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
}

.body_middle .clinic-tab_list
{
    max-width: 680px;
}

.body_middle .clinic-tab-item span
{
    font-size: 20px;
}

.body_middle .clinic-tab-item > span
{
    padding-left: 40px;
}

.body_middle .clinic-text1-title h2
{
    font-size: 33px;
}

.body_middle .clinic-text1 p
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .clinic-doctors h2
{
    font-size: 42px;
}

.body_middle .doctors-item-text2 h3
{
    font-size: 30px;
}

.body_middle .doctors-item-text2 span
{
    font-size: 21px;
}

.body_middle .doctors-item-text2 b
{
    font-size: 24px;
}

.body_middle .clinic-doctors-btn-wrap a
{
    font-size: 24px;
}

.body_middle .clinic-reviews h2
{
    font-size: 42px;
}

.body_middle .reviews-item-text1 span
{
    font-size: 42px;
}

.body_middle .reviews-item-text1 b
{
    font-size: 30px;
}

.body_middle .reviews-item2
{
    font-size: 33px;
}

.body_middle .reviews-item-text2 p
{
    font-size: 30px;
}

.body_middle .btn3
{
    font-size: 18px;

    padding: 7px 15px;
}

.body_middle .clinic-reviews-btn-wrap .reviews-btn
{
    font-size: 24px;
}

.body_middle .clinic-text2-wrap p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .clinic-photo h2
{
    font-size: 42px;
}

.body_middle .btn5
{
    font-size: 30px;

    padding: 20px 80px;
}

.body_middle .clinic-administration h2
{
    font-size: 42px;
}

.body_middle .clinic-photo-slider-wrap h2
{
    font-size: 30px;
}

.body_middle .clinic-map-info-title h2
{
    font-size: 27px;
}

.body_middle .clinic-map-info h3
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .clinic-map-info-item1
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .clinic-map-info-list2 li
{
    font-size: 18px;
    line-height: normal;
}


.body_middle .clinic-map-wrap
{
    height: 470px;
}


.body_middle .clinics h1
{
    font-size: 54px;
}

.body_middle .clinics-filter-radio-wrap label span
{
    font-size: 20px;
}

.body_middle .clinics-filter-radio-wrap
{
    flex-wrap: wrap;
}

.body_middle .company h1
{
    font-size: 54px;
}

.body_middle .company-text1 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .company-text1 a
{
    font-size: 27px;
}

.body_middle .company-text2
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .contact1-title1 h2
{
    font-size: 54px;
}

.body_middle .contact1-title1 a
{
    font-size: 33px;
}

.body_middle .contact1-text h3
{
    font-size: 33px;
}

.body_middle .contact1-list2 h4
{
    font-size: 24px;
}

.body_middle .contact1-list2 span
{
    font-size: 24px;
}

.body_middle .contact1-title2 h2
{
    font-size: 39px;
}

.body_middle .contact1-item-text-wrap h3
{
    font-size: 33px;
}

.body_middle .contact1-item-text-wrap b
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .contact1-list4 b
{
    font-size: 24px;
}

.body_middle .contact1-list4 a
{
    font-size: 24px;
}

.body_middle .corporate h1
{
    font-size: 54px;
}

.body_middle .corporate-text1 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .corporate-item-text2 h3
{
    font-size: 30px;
}

.body_middle .costsection h1
{
    font-size: 54px;
}

.body_middle .costsection-label span
{
    font-size: 20px;
}

.body_middle .costsection-search-wrap input
{
    font-size: 24px;
}

.body_middle .costsection-item h3
{
    font-size: 33px;
}

.body_middle .costsection-list2 a
{
    font-size: 24px;
}

.body_middle .credit h1
{
    font-size: 54px;
}

.body_middle .credit-text1 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .credit-item h3
{
    font-size: 36px;
}

.body_middle .credit-item p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .creditFeedback h1
{
    font-size: 33px;
}

.body_middle .creditFeedback-form h2
{
    font-size: 33px;
}

.body_middle .creditFeedback h1
{
    font-size: 54px;
}

.body_middle .input
{
    font-size: 21px;
}

.body_middle .label-checkbox span
{
    font-size: 20px;
}

.body_middle .label span
{
    font-size: 21px;
}

.body_middle .creditFeedback-container-text h3
{
    font-size: 30px;
}

.body_middle .creditFeedback-container-text ul li
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .creditFeedback-container-text span
{
    font-size: 22px;
    line-height: normal;
}

.body_middle .creditFeedback-container-text b
{
    font-size: 30px;
}


.body_middle .directory-slider h2
{
    font-size: 200px;
    line-height: 90%;
}

.body_middle .directory-slider .swiper-pagination .swiper-pagination-bullet:after
{
    font-size: 33px;
    line-height: 35px;
}

.body_middle .directory-filter .tab_list a
{
    font-size: 20px;
}

.body_middle .directory h1
{
    font-size: 54px;
}

.body_middle .service1-text1 h1
{
    font-size: 54px;
}

.body_middle .service1-text1-wrap p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .service1-reception h2
{
    font-size: 39px;
}

.body_middle .service1-reception-text p
{
    font-size: 21px;
    line-height: normal;
}

.body_middle .service1-tabs .service1-tab_list a
{
    font-size: 24px;
}

.body_middle .service1-tabs-wrap p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .service1-tab-list a
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .service1-tab-link-wrap a
{
    font-size: 24px;
}

.body_middle .service1-action-text h2
{
    font-size: 36px;
}

.body_middle .service1-action-text b
{
    font-size: 18px;
}

.body_middle .service1-action-text p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .service1-info h3
{
    font-size: 36px;
}

.body_middle .service1-list2 a
{
    font-size: 24px;
}

.body_middle .disease-wrap h2
{
    font-size: 39px;
}

.body_middle .disease-text h3
{
    font-size: 27px;
}

.body_middle .disease-text p
{
    font-size: 20px;
    line-height: normal;
}

.body_middle .doctor h1
{
    font-size: 54px;
}

.body_middle .doctor-info-title span
{
    font-size: 33px;
}

.body_middle .doctor-info-text-wrap1 b
{
    font-size: 30px;
}

.body_middle .doctor-info-text-wrap1 li
{
    font-size: 24px;
}

.body_middle .doctor-info-text-wrap1 p
{
    font-size: 27px;
}

.body_middle .doctor-info-text-wrap2 h2
{
    font-size: 33px;
}

.body_middle .doctor-info-text-wrap2 b
{
    font-size: 39px;
}

.body_middle .doctor-info-text-wrap2 span
{
    font-size: 36px;
}

.body_middle .doctor-info-text-wrap3 p
{
    font-size: 30px;
}

.body_middle .doctor-form p
{
    font-size: 39px;
}

.body_middle .doctor-reviews h2
{
    font-size: 39px;
}

.body_middle .doctor-reviews-link
{
    font-size: 24px;
}

.body_middle .doctor-specialization h2
{
    font-size: 39px;
}

.body_middle .doctor-specialization h3
{
    font-size: 30px;
}

.body_middle .doctor-specialization-list li
{
    font-size: 30px;
}

.body_middle .doctor-regalia h2
{
    font-size: 39px;
}

.body_middle .doctor-regalia-text-wrap h3
{
    font-size: 24px;
}

.body_middle .doctor-regalia-list li
{
    font-size: 24px;
}

.body_middle .doctor-certificates h2
{
    font-size: 39px;
}

.body_middle .doctor-certificates-item p
{
    font-size: 27px;
}

.body_middle .doctor-text-wrap h2
{
    font-size: 39px;
}

.body_middle .doctor-text p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .doctors h1
{
    font-size: 54px;
}

.body_middle .body_middle .doctors-filter-input-wrap input
{
    font-size: 24px;
}

.body_middle .doctors-filter-radio-wrap span
{
    font-size: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.body_middle .faq h1
{
    font-size: 54px;
}

.body_middle .faq-list-wrap h3
{
    font-size: 33px;
}

.body_middle .faq-item .open_toggle
{
    font-size: 27px;
}

.body_middle .faq-item .block_toggle p
{
    font-size: 24px;
}

.body_middle .health h1
{
    font-size: 54px;
}

.body_middle .health-subtitle
{
    font-size: 42px;
}

.body_middle .health-list a
{
    font-size: 33px;
}

.body_middle .health-link-wrap a
{
    font-size: 24px;
}

.body_middle .health-question h2
{
    font-size: 42px;
}

.body_middle .questions-item h3 i
{
    font-size: 42px;
}

.body_middle .questions-item h3 b
{
    font-size: 27px;
}

.body_middle .questions-item span
{
    font-size: 40px;
    line-height: normal;
}

.body_middle .questions-item p
{
    font-size: 30px;
}

.body_middle .health-problem-list a
{
    font-size: 30px;
}

.body_middle .health-problem h2
{
    font-size: 42px;
}

.body_middle .health-informations h2
{
    font-size: 42px;
}

.body_middle .publications-item-text h3
{
    font-size: 27px;
}

.body_middle .publications-item-text p
{
    font-size: 20px;
    line-height: normal;
}

.body_middle .publications-item-text-info span
{
    font-size: 18px;
}

.body_middle .publications-item-text-info b
{
    font-size: 18px;
}

.body_middle .housecall h1
{
    font-size: 54px;
}

.body_middle .housecall-form h3
{
    font-size: 33px;
}

.body_middle .textarea
{
    font-size: 21px;
}

.body_middle .housecall-text p
{
    font-size: 24px;
}


.body_middle .information h1
{
    font-size: 54px;
}

.body_middle .information-item-text-wrap2 h2
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .information-item-text-wrap2 p
{
    font-size: 20px;
    line-height: normal;
}

.body_middle .pagination-list
{
    max-width: 280px;
}

.body_middle .pagination-list li
{
    font-size: 21px;
    line-height: 24px;

    min-width: 24px;
    height: 24px;

    text-align: center;
}

.body_middle .pagination-list a:after
{
    width: 24px;
    height: 24px;
}


.body_middle .jobs h1
{
    font-size: 54px;
}

.body_middle .jobs-text1 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .jobs-text-container2 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .jobs-text-container2 ul li
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .jobs-list-wrap h2
{
    font-size: 42px;
}

.body_middle .jobs-list li a
{
    font-size: 33px;
}


.body_middle .partnership h1
{
    font-size: 54px;
}

.body_middle .partnership-text1 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .partnership-item h3
{
    font-size: 39px;
}

.body_middle .partnership-text2 p
{
    font-size: 24px;
    line-height: normal;
}


.body_middle .program h1
{
    font-size: 54px;
}

.body_middle .program-text-container1 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .program-text-container1 h2
{
    font-size: 30px;
}

.body_middle .program-text-container1 ul li
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .program-text-container1 h3
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .program .row b
{
    font-size: 24px;
}

.body_middle .program .row span
{
    font-size: 21px;
}

.body_middle .program .row p
{
    font-size: 21px;
}

.body_middle .program-list-wrap h2
{
    font-size: 42px;
}

.body_middle .program-item h3
{
    font-size: 30px;
}

.body_middle .program-item p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .program-item-btn-wrap span
{
    font-size: 18px;

    padding: 7px 20px;
}

.body_middle .program-item-btn-wrap a
{
    font-size: 24px;
}

.body_middle .programs-text2 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .programs-text2 ul li
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .publication h1
{
    font-size: 54px;
}

.body_middle .publication p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .publication h3
{
    font-size: 33px;
}


.body_middle .publications-title h1
{
    font-size: 54px;
}

.body_middle .questions-title h1
{
    font-size: 54px;
}

.body_middle .questions-input-wrap input
{
    font-size: 24px;
}

.body_middle .reviews-radio-wrap1 label span
{
    font-size: 21px;

    padding-top: 7px;
    padding-bottom: 7px;
}

.body_middle .vacancy-form h2
{
    font-size: 33px;
}

.body_middle .reviews h1
{
    font-size: 54px;
}

.body_middle .reviews-input-wrap input
{
    font-size: 24px;
}

.body_middle .reviews-feedback-checkbox-wrap .radio-label span
{
    font-size: 20px;
}


.body_middle .rights h1
{
    font-size: 54px;
}

.body_middle .rights-text1 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rights-text2-wrap h3
{
    font-size: 33px;
}

.body_middle .rights-text2 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-text3 p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .rules-img3 span
{
    font-size: 24px;
}


.body_middle .search h1
{
    font-size: 54px;
}

.body_middle .search-input-wrap input
{
    font-size: 26px;
}

.body_middle .search-form p
{
    font-size: 24px;
}

.body_middle .search-item-link a
{
    font-size: 36px;
}

.body_middle .search-item p
{
    font-size: 24px;
}


.body_middle .cost1 h2
{
    font-size: 39px;
}

.body_middle .cost1-list i
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .cost1-list b
{
    font-size: 30px;

    max-width: 220px;
}

.body_middle .cost1-list span
{
    font-size: 26px;

    max-width: 180px;
}

.body_middle .service1-results h2
{
    font-size: 39px;
}

.body_middle .service1-results-img-container b
{
    font-size: 24px;
}

.body_middle .service1-results-text p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .service1-other h3
{
    font-size: 39px;
}

.body_middle .service1-other-item h4
{
    font-size: 36px;
}

.body_middle .service1-other-item b
{
    font-size: 56px;
}

.body_middle .service1-other-item p
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .service1-list1 a
{
    font-size: 27px;
}

.body_middle .service1-doctors-link-wrap a
{
    font-size: 24px;
}

.body_middle .service1-doctors h3
{
    font-size: 36px;
}

.body_middle .service1-doctors-text h4
{
    font-size: 27px;
}

.body_middle .service1-doctors-text p
{
    font-size: 24px;
    line-height: normal;
}


.body_middle .social h1
{
    font-size: 54px;
}

.body_middle .social-text p
{
    font-size: 27px;
    line-height: normal;
}

.body_middle .solutions-text1 p
{
    font-size: 24px;
}

.body_middle .solutions-list li a
{
    font-size: 27px;
}

.body_middle .solutions-list li a:hover
{
    font-size: 27px;
}

.body_middle .solutions .tab_list1 li a
{
    font-size: 16px;

    padding: 3px 10px;
}

.body_middle .solutions-text2 p
{
    font-size: 24px;
    line-height: normal;
}


.body_middle .stock h1
{
    font-size: 54px;
}

.body_middle .vacancy h1
{
    font-size: 54px;
}

.body_middle .stock-radio-wrap span
{
    font-size: 20px;

    padding-top: 12px;
    padding-bottom: 12px;
}

.body_middle .vacancy-item h2
{
    font-size: 27px;
}

.body_middle .vacancy-item li
{
    font-size: 24px;
    line-height: normal;
}

.body_middle .vacancy-item2 p span
{
    font-size: 27px;
}

.body_middle .jq-file__name:after
{
    font-size: 21px;
}

.body_middle .changed .jq-file__name
{
    font-size: 21px;
}

.body_middle .videos-filter-radio-wrap
{
    max-width: 600px;
}

.body_middle .videos-filter-radio-wrap label span
{
    font-size: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.body_middle .videos-filter-radio-wrap label
{
    width: auto;
}

.body_middle .videos-item-text h3
{
    font-size: 26px;
}


.body_middle .videos h1
{
    font-size: 54px;
}


:-webkit-input-placeholder
{
    font-size: inherit !important;
}

:-ms-input-placeholder
{
    font-size: inherit !important;
}

::-ms-input-placeholder
{
    font-size: inherit !important;
}

::placeholder
{
    font-size: inherit !important;
}


.doctor-reviews-slider .reviews-item.active,
.reviews .reviews-item.active,
.clinic-reviews .reviews-item.active
{
    max-height: none;
}
