a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

.search-page hr {
	border: none;
	color: #0a9beb;
	background-color: #0a9beb;
	height: 2px;
}
.search-page a b, .search-page a{
	color: #0a9beb;
}
.search-page{
	font-family: 'Gerbera', sans-serif !important;
}